﻿@using Registrasi.Models
@model PasienViewModel
@{
    var controllerName = "Pasien";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";
    var tableId = $"table_{controllerName}";

    #region ==== MODAL Kartu
    var targetkartu = new
    {
        t0 = $"#{nameof(Model.NoKartu)}",
        t1 = $"#{nameof(Model.NamaAnggotaE)}",
        t2 = $"#{nameof(Model.Klp)}",
        t3 = $"#{nameof(Model.GenderAnggotaE)}",
        t4 = $"#{nameof(Model.KdKelas)}"
    };
    var modalnomoranggota = $"modal_Kartu_anggota";
    var modalNameKartu = $"Lookup Kartu";
    var targetFormkartu = formName;
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}

<div class="wall">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteeditx(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NRM)
            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="@nameof(Model.JenisKerjasamaID)">Tipe Pasien <span class="mandatory">*</span></label>
                                                @Html.DropDownListFor(model => model.JenisKerjasamaID, StaticModel.SelectListJenisKerjasama, new { @class = "form-control", onchange = "jeniskerjasama(); changeJenisKerjasama();" })
                                                @Html.ValidationMessageFor(model => model.JenisKerjasamaID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="form_company">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="label-checkbox">
                                                    @Html.CheckBoxFor(model => model.AnggotaBaru, new { @class = "pointer", onchange = "anggotabaru()", disabled = "disabled" })
                                                    @Html.LabelFor(model => model.AnggotaBaru, htmlAttributes: new { @class = "control-label pointer" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div id="hidePBI" class="hidden">
                                                    @Html.CheckBoxFor(model => model.NonPBI, new { @class = "pointer" })
                                                    @Html.LabelFor(model => model.NonPBI, htmlAttributes: new { @class = "control-label pointer" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.CompanyID)">Perusahaan</label>
                                                @Html.DropDownListFor(model => model.CompanyID, Model == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.CompanyID, Text = Model.NamaPerusahaan } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--LookUp No Anggota-->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NoKartu, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <!-- button -->
                                                <button id="btnNoKartu" data-toggle="modal" data-target="#@modalnomoranggota"
                                                        class="btn btn-success input-lookup" type="button" disabled>
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                            <!-- input -->
                                            @Html.EditorFor(model => model.NoKartu, new { htmlAttributes = new { @class = "form-control", onblur = "getanggotaE()", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.NoKartu, "", new { @class = "text-danger" })
                                            <span class="input-group-btn">
                                                <!-- button -->
                                                <button id="btncekPeserta" onclick="checkstatusPeserta()"
                                                        class="btn btn-primary input-lookup hidden" type="button">
                                                    Check
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.NamaAnggotaE)">Nama E</label>
                                                @Html.EditorFor(model => model.NamaAnggotaE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.NamaAnggotaE, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.GenderAnggotaE)">Jenis Kelamin</label>
                                                @Html.DropDownListFor(model => model.GenderAnggotaE, StaticModel.SelectListGender, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.GenderAnggotaE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Klp -->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.Klp)">KLP</label>
                                                @Html.DropDownListFor(model => model.Klp, StaticModel.SelectListKlp, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.Klp, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.KdKelas)">Kelas Pertanggungan</label>
                                                @Html.DropDownListFor(model => model.KdKelas, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.KdKelas, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <!-- Nama Pasien-->
                                    <div class="form-group">
                                        <label for="@nameof(Model.NamaPasien)" class="">Nama Pasien <span class="mandatory">*</span></label>
                                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", onblur = "toUppercase_(this)" } })
                                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                                    </div>

                                    <!-- No Identitas -->
                                    <div class="form-group">
                                        <label for="@nameof(Model.NamaPasien)" class="">No Identitas <span class="mandatory">*</span></label>
                                        @Html.EditorFor(model => model.NoIdentitas, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NoIdentitas, "", new { @class = "text-danger" })
                                    </div>

                                    <!-- Gender dan Agama -->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.JenisKelamin)">Jenis Kelamin <span class="mandatory">*</span></label>
                                                @Html.DropDownListFor(model => model.JenisKelamin, StaticModel.SelectListGender, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.Agama)">Agama <span class="mandatory">*</span></label>
                                                @Html.DropDownListFor(model => model.Agama, StaticModel.SelectListAgama, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Agama, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Status Kawin dan Golda -->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.Golda)">Golongan Darah</label>
                                                @Html.DropDownListFor(model => model.Golda, StaticModel.SelectListGolda, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Golda, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.StatusKawin)">Status Kawin <span class="mandatory">*</span></label>
                                                @Html.DropDownListFor(model => model.StatusKawin, StaticModel.SelectListStatusKawin, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.StatusKawin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <!-- Nationality -->
                                    <div class="form-group">
                                        <label for="@nameof(Model.NationalityID)" class="">Kenegaraan <span class="mandatory">*</span></label>
                                        @Html.DropDownListFor(model => model.NationalityID, StaticModel.SelectListNationality, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NationalityID, "", new { @class = "text-danger" })
                                    </div>

                                    <!-- Alamat -->
                                    <div class="form-group">
                                        <label for="@nameof(Model.Alamat)" class="">Alamat <span class="mandatory">*</span></label>
                                        @Html.TextAreaFor(model => model.Alamat, htmlAttributes: new { @class = "form-control", })
                                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.DesaID)">Desa <span class="mandatory">*</span></label>
                                                @Html.DropDownListFor(model => model.DesaID, Model == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.DesaID, Text = Model.NamaDesa } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.DesaID, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.KecamatanID)">Kecamatan</label>
                                                @Html.DropDownListFor(model => model.KecamatanID, Model == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.KecamatanID, Text = Model.NamaKecamatan } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.KecamatanID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.KabupatenID)">Kabupaten</label>
                                                @Html.DropDownListFor(model => model.KabupatenID, Model == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.KabupatenID, Text = Model.NamaKabupaten } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.KabupatenID, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.PropinsiID)">Provinsi</label>
                                                @Html.DropDownListFor(model => model.PropinsiID, Model == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.PropinsiID.ToString(), Text = Model.NamaPropinsi } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PropinsiID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Phone -->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="Phone" class="control-label">Telepon</label>
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.Pekerjaan)">Pekerjaan <span class="mandatory">*</span></label>
                                                @Html.DropDownListFor(model => model.Pekerjaan, StaticModel.SelectListPekerjaan, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Pekerjaan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Status-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.Pendidikan)">Pendidikan</label>
                                                @Html.DropDownListFor(model => model.Pendidikan, StaticModel.SelectListPendidikan, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Pendidikan, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <label for="@nameof(Model.CaraDatangPertama)" class="">Cara Datang Pertama </label>
                                                @Html.DropDownListFor(model => model.CaraDatangPertama, StaticModel.SelectListCaraDatangPertama, new { @class = "form-control", onchange = "dokterlook()" })
                                                @Html.ValidationMessageFor(model => model.CaraDatangPertama, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="@nameof(Model.TempatLahir)" class="">Tempat Lahir</label>
                                        @Html.EditorFor(model => model.TempatLahir, new { htmlAttributes = new { @class = "form-control", onblur = "toUppercase_(this)" } })
                                        @Html.ValidationMessageFor(model => model.TempatLahir, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="TglLahirDiketahui" class="control-label" style="padding-bottom: 4px;">
                                                    Tgl Lahir Diketahui
                                                    @Html.CheckBoxFor(model => model.TglLahirDiketahui, new { @class = "pointer chb", onchange = "checktgllahir()" })
                                                </label>
                                                @Html.EditorFor(model => model.TglLahir, new { htmlAttributes = new { @class = "form-control", onchange = "getAge()", @readonly = "readonly", Value = (Model != null ? (Model.TglLahir != null ? Model.TglLahir.ToString("yyyy-MM-dd") : "") : "") } })
                                                @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-6">
                                                <!-- Umur -->
                                                <label for="@nameof(Model.UmurSaatInput)" class="">Umur</label>
                                                @Html.EditorFor(model => model.UmurSaatInput, new { htmlAttributes = new { @class = "form-control", type = "number", onchange = "getTglLahir()" } })
                                                @Html.ValidationMessageFor(model => model.UmurSaatInput, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <!-- KTP/ VVIP -->
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.PasienKTP, htmlAttributes: new { @class = "control-label pointer display-block" })
                                            @Html.CheckBoxFor(model => model.PasienKTP, new { @class = "pointer chb", @checked = true })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.PasienVVIP, htmlAttributes: new { @class = "control-label pointer display-block" })
                                            @Html.CheckBoxFor(model => model.PasienVVIP, new { @class = "pointer chb" })
                                        </div>
                                    </div>

                                    <!-- Ibu Kandung -->
                                    <div class="form-group">
                                        <label for="@nameof(Model.NamaIbuKandung)" class="">Nama Ibu Kandung</label>
                                        @Html.EditorFor(model => model.NamaIbuKandung, new { htmlAttributes = new { @class = "form-control", onblur = "toUppercase_(this)" } })
                                        @Html.ValidationMessageFor(model => model.NamaIbuKandung, "", new { @class = "text-danger" })
                                    </div>

                                    <hr style="margin-bottom:2px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>
<!-- Modal Look Up Kartu -->
@Html.Partial("_LookUpKartu", Model, new ViewDataDictionary {
    { "target", targetkartu },
    { "modalid", modalnomoranggota },
    { "targetForm", targetFormkartu },
    { "modalName", modalNameKartu },
    { "headerisajax", ViewBag.IsAjaxRequest }
})
<!--SELECT 2-->
<script>
    $("#NationalityID").select2();
    $("#Pekerjaan").select2();

    changeJenisKerjasama();
    function changeJenisKerjasama() {
        var value = $("#JenisKerjasamaID").val();
        if (value == "2" || value == "9") {
            $("#form_company").show("slow");
        } else {
            $("#form_company").hide("slow");
        }
    }

var inputprovinsi = $('#@formName #PropinsiID');
    var inputkabupaten = $('#@formName #KabupatenID');
    var inputkecamatan = $('#@formName #KecamatanID');
    var inputdesa = $('#@formName #DesaID');

    function findprovinsi(dt) {
        myajax({
            url: '@Url.Action("GetData","Provinsi")',
            data: { id: dt.idprovinsi},
            beforeSend: null,
            complete: null,
            success: function (data) {
                if (data.IsSuccess) {
                    inputprovinsi.append('<option value=' + data.Data.Propinsi_ID + '>' + data.Data.Nama_Propinsi + '</option>');
                    inputprovinsi.val(data.Data.Propinsi_ID).trigger('change');
                    if (!dt.idkabupaten)
                        idkabupaten.val(dt.idkabupaten).trigger('change');
                    findkabupaten(dt);
                } else {
                    alertpopup(data.Message, 'danger');
                }
            }
        });
    }

    function findkabupaten(dt) {
        if (dt.idkabupaten) {
            myajax({
                url: '@Url.Action("GetData","Kabupaten")',
                data: { id: dt.idkabupaten },
                beforeSend: null,
                complete: null,
                success: function (data) {
                    if (data.IsSuccess) {
                        inputkabupaten.append('<option value=' + data.Data.Kode_Kabupaten + '>' + data.Data.Nama_Kabupaten + '</option>');
                        inputkabupaten.val(data.Data.Kode_Kabupaten).trigger('change');
                        if (!dt.idkecamatan)
                            inputkecamatan.val(dt.idkecamatan).trigger('change');
                        findkecamatan(dt);
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
        }
    }

    function findkecamatan(dt) {
        if (dt.idkecamatan) {
            myajax({
                url: '@Url.Action("GetData","Kecamatan")',
                data: { id: dt.idkecamatan },
                beforeSend: null,
                complete: null,
                success: function (data) {
                    if (data.IsSuccess) {
                        inputkecamatan.append('<option value=' + data.Data.KecamatanID + '>' + data.Data.KecamatanNama + '</option>');
                        inputkecamatan.val(data.Data.KecamatanID).trigger('change');
                        inputdesa.val(dt.id).trigger('change');
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
        }
    }

    inputprovinsi.on('change', function () {
        inputkabupaten.val(null).trigger('change.select2');
        inputkecamatan.val(null).trigger('change.select2');
        inputdesa.val(null).trigger('change.select2');
    });

    inputkabupaten.on('change', function () {
        inputkecamatan.val(null).trigger('change.select2');
        inputdesa.val(null).trigger('change.select2');
    });

    inputkecamatan.on('change', function () {
        var s2data = inputkecamatan.select2('data');
        if (s2data.length > 0 && !inputkabupaten.val()) {
            findprovinsi(s2data[0]);
        }
        inputdesa.val(null).trigger('change');
    });

    inputdesa.on('change', function () {
        var s2data = inputdesa.select2('data');
        if (s2data.length > 0 && !inputkecamatan.val()) {
            findprovinsi(s2data[0]);
        }
    });

    inputprovinsi.select2({
        ajax: {
            url: "@Url.Action("List", "Provinsi")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama_Propinsi',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', inputprovinsi.val()]
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Propinsi_ID, text: value.Nama_Propinsi } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    inputkabupaten.select2({
        ajax: {
            url: "@Url.Action("List", "Kabupaten")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama_Kabupaten',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', inputprovinsi.val(),'']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Kabupaten, text: value.Nama_Kabupaten } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    inputkecamatan.select2({
        ajax: {
            url: "@Url.Action("List", "Kecamatan")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'KecamatanNama',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', inputkabupaten.val(),'']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KecamatanID, text: value.KecamatanNama, idkecamatan: value.KecamatanID, idkabupaten: value.Kode_Kabupaten, idprovinsi: value.PropinsiID } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        formatSelection: function (val) {
            return {
                id: val.id,
                text: val.text,
                idkecamatan: idkecamatan,
                idkabupaten: val.idkabupaten,
                idprovinsi: val.idprovinsi
            }
        },
        placeholder: "",
        allowClear: true
    });

    inputdesa.select2({
        ajax: {
            url: "@Url.Action("List", "Desa")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'DesaNama',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '', inputkecamatan.val(),'']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DesaID, text: value.DesaNama, idkabupaten: value.Kode_Kabupaten, idkecamatan: value.KecamatanID , idprovinsi: value.PropinsiID} }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        formatSelection: function (val) {
            return {
                id: val.id,
                text: val.text,
                idkabupaten: val.idkabupaten,
                idkecamatan: val.idkecamatan,
                idprovinsi: val.idprovinsi
            }
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #CompanyID').select2({
        ajax: {
            url: "@Url.Action("ListDetailPerusahaan", "Pasien")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama_Customer',
                    sortByType: 'ASC',
                    pageSize: 5,
                    pageIndex: params.page || 0,
                    filter: [$('#JenisKerjasamaID option:selected').text(), params.term, '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Customer, text: value.Nama_Customer } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #DokterID_ReferensiPertama').select2({
        ajax: {
            url: "@Url.Action("ListDetailDokterPertama", "Pasien")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama_Supplier',
                    sortByType: 'ASC',
                    pageSize: 5,
                    pageIndex: params.page || 0,
                    filter: [params.term, '', '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Supplier, text: value.Nama_Supplier } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>

<!--FUNCTION-->
<script>
    $(document).ready(function () {
        jeniskerjasama();
        dokterlook();
    });

    function oncompleteeditx(xhr, formname, isajax, x_this) {
        if ('@ViewBag.IsAjaxRequest' == 'True') {
            try {
                var result = JSON.parse(xhr.responseText);
                if (result.IsSuccess) {
                    j_form = $('#frm_Registrasi_create');
                    getdatapasien();
                    var j_modal = $(x_this.closest('.modal'));
                    j_modal.modal('hide');
                } else {
                    alertpopup(result.Message,"info");
                }
            } catch (ex) {
                $(".modal").modal("hide");
                alertpopup(result.Message, "success");
            }

        } else {
            try {
                var result = JSON.parse(xhr.responseText);
                if (result.IsSuccess) {
                    $(".modal").modal("hide");
                    alertpopup(result.Message, "success");
                } else {
                    alertpopup(result.Message, "info");
                    alertpopup('Terjadi kesalahan, data belum tersimpan', 'danger');
                }
            } catch (ex) {
                alertpopup(xhr.responseText || 'Server Error', 'danger');
            }
        }
    }

    $('#@formName #JenisKerjasamaID').on('change', function () {
        $('#CompanyID').val(null).trigger('change.select2');
    });

    function checktgllahir() {
        if ($('#TglLahirDiketahui').is(':checked')) {
            $('#TglLahir').removeAttr('readonly');
            $('#UmurSaatInput').attr('readonly', 'readonly');
            $('#TglLahir').val('');
            $('#UmurSaatInput').val();
        } else {
            $('#TglLahir').attr('readonly', 'readonly');
            $('#UmurSaatInput').removeAttr('readonly');
            $('#TglLahir').val('');
            $('#UmurSaatInput').val();

        }
    }

    function getAge() {
        var today = new Date();
        var birthDate = new Date($('#TglLahir').val());
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age = age - 1;
        }
        if ($('#TglLahir').val() == null) {
            $('#UmurSaatInput').val('0');
        } else {
            $('#UmurSaatInput').val(age);
        }
    }

    function getTglLahir() {
        if (document.getElementById("TglLahirDiketahui").checked == false) {
            var today = new Date();
            var umur = $('#UmurSaatInput').val();

            var tgl = (parseInt(today.getFullYear().toString()) - parseInt(umur) - 1) + '-12-31' ;

            $('#TglLahir').val(tgl);
        }
    }

    function anggotabaru() {
        $("#NoAnggotaE").val('');
        $("#Klp").val('');
        $("#KdKelas").val('');
        $("#NoKartu").val('');
        $("#NamaAnggotaE").val('');
        $("#GenderAnggotaE").val('');
        if ($('#AnggotaBaru').is(':checked')) {
            $('#btnNoKartu').attr('disabled', 'disabled');
            $("#NoAnggotaE").removeAttr('readonly');
            $("#Klp").removeAttr('disabled');
            $("#KdKelas").removeAttr('disabled');
            $("#NamaAnggotaE").removeAttr('readonly');
            $("#GenderAnggotaE").removeAttr('disabled');

            $("#NoKartu").prop('required', true);
            $("#NoAnggotaE").prop('required', true);
            $("#Klp").prop('required', true);
            $("#KdKelas").prop('required', true);
            $("#NamaAnggotaE").prop('required', true);
            $("#GenderAnggotaE").prop('required', true);
        } else {
            if ($('#JenisKerjasamaID').val() === '3') {
                $('#btnNoKartu').attr('disabled', 'disabled');
                $("#KdKelas").attr('disabled', 'disabled');
            }
            else {

                $('#btnNoKartu').removeAttr('disabled');
            }
            $("#NoAnggotaE").attr('readonly', 'readonly');
            $("#Klp").attr('disabled', 'disabled');
            $("#NamaAnggotaE").attr('readonly', 'readonly');
            $("#GenderAnggotaE").attr('disabled', 'disabled');


            $("#NoAnggotaE").prop('required', false);
            $("#Klp").prop('required', false);
            $("#KdKelas").prop('required', false);
            $("#NamaAnggotaE").prop('required', false);
            $("#GenderAnggotaE").prop('required', false);
        }
    }

    function dokterlook() {
        if ($('#CaraDatangPertama').val() === 'DATANG SENDIRI') {
            $('#hide').addClass('hidden');
            $('#DokterID_ReferensiPertama').val('');
        } else {
            $('#hide').removeClass('hidden');
        }
    }

    function jeniskerjasama() {
        if ($('#JenisKerjasamaID').val() === '9') {
            $('#hidePBI').removeClass('hidden');
        }
        else {
            $('#hidePBI').addClass('hidden');
            $('#NonPBI').prop('checked', false);
        }

        if ($('#JenisKerjasamaID').val() === '3' || $('#JenisKerjasamaID').val() === '4') {
            $("#btncompanyid").attr('disabled', 'disabled');
            $("#btnNoKartu").attr('disabled', 'disabled');
            $("#CompanyID").attr('readonly', 'readonly');
            $("#Nama_Perusahaan").attr('disabled', 'disabled');
            $("#AnggotaBaru").attr('disabled', 'disabled');
            $("#NoAnggotaE").attr('readonly', 'readonly');
            $("#Klp").attr('disabled', 'disabled');
            $("#KdKelas").attr('disabled', 'disabled');
            $("#NoKartu").attr('readonly', 'readonly');
            $("#NamaAnggotaE").attr('readonly', 'readonly');
            $("#GenderAnggotaE").attr('disabled', 'disabled');

            $("#NoKartu").val('');
            $("#NoAnggotaE").val('');
            $("#NamaAnggotaE").val('');
            $("#KdKelas").val('');
        } else {
            $("#btncompanyid").removeAttr('disabled');
            $("#btnNoKartu").removeAttr('disabled');
            $("#CompanyID").removeAttr('readonly');
            $("#AnggotaBaru").removeAttr('disabled');
            $("#NoAnggotaE").removeAttr('readonly');
            $("#Klp").removeAttr('disabled');
            $("#KdKelas").removeAttr('disabled');
            $("#NoKartu").removeAttr('readonly');
            $("#NamaAnggotaE").removeAttr('readonly');
            $("#GenderAnggotaE").removeAttr('disabled');
        }

        if ($('#JenisKerjasamaID').val() === '4') {
            $('#PasienKTP').prop('checked', false)
        } else {
            $('#PasienKTP').prop('checked', true)
        }
    }

    function checktanggallahir() {
        if (!$('#@formName').valid()) {
            $('#@formName').submit();
            return;
        }
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) { dd = '0' + dd; }
        if (mm < 10) { mm = '0' + mm; }
        var today = dd + '/' + mm + '/' + yyyy;
        if (today == $('#TglLahir').val())
            $('#modaltanggallahir').modal();
        else {
            submitform();
        }
    }

    function submitform() {
        loading();
        $('#@formName').submit();
        $('#modalterdaftar').modal('hide');
        $('#modaltanggallahir').modal('hide');
    }

    function ceknomoranggota() {
        var url = '@Url.Action("CekNomorAnggota", "Pasien")';
        var parameter = {
            id: $("#NoANggota").val()
        };
        myajax({
            url: url,
            data: parameter,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.success == false) {
                    alertpopup(data.Message, data.Status);
                    $('#NoANggota').val('');
                }
                else {
                    try {
                        if (data.Data == "0")
                            return;
                        else {
                            alertpopup('Nomor Anggota Sudah Digunakan Oleh Pasien Lain', 'danger');
                            $('#NoANggota').val('');
                        }
                    } catch (ex) {
                        alertpopup(xhr.responseText || 'Server Error', 'danger');
                    }
                }
            }
        });
    }

    function getanggotaE() {
        if ($('#AnggotaBaru').is(':checked')) {
            if ($('#NoKartu').val() == "")
                return
            else
                ceknomoranggota();
            return;
        }
        var j_form = $('#@formName');
        var j_this = j_form.find("#NoKartu");
        var target = {
            NoKartu: j_form.find("#NoAnggotaE"),
            Nama: j_form.find("#NamaAnggotaE"),
            Klp: j_form.find("#Klp"),
            Gender: j_form.find("#GenderAnggotaE"),
            KdKelas: j_form.find("#KdKelas")
        };
        if (j_form.find("#NoKartu").val() == "") {
            $.each(target, function (index, value) {
                j_form.find(value).val('');
            });
            return;
        }
    }

    function toUppercase_(this_) {
        x = this_.value;
        x = x.toUpperCase();
        this_.value = x;
    }

    function checkstatusPeserta() {
        var url = '@Url.Action("CheckPeserta", "Pasien")';
        var parameter = {
            id: $("#@formName #NoKartu").val()
        };
        myajax({
            url: url,
            data: parameter,
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.IsSuccess) {
                    $('#@formName #NoAnggotaE').val(data.Data.NoAnggotaE);
                    $('#@formName #NamaAnggotaE').val(data.Data.NamaAnggotaE);
                    $('#@formName #NamaPasien').val(data.Data.NamaPasien);
                    $('#@formName #GenderAnggotaE').val(data.Data.GenderAnggotaE);
                    $('#@formName #JenisKelamin').val(data.Data.JenisKelamin);
                    $('#@formName #NoIdentitas').val(data.Data.NoIdentitas);
                    $('#@formName #CompanyID').val(data.Data.CompanyID);
                    $('#@formName #CustomerKerjasamaID').val(data.Data.CustomerKerjasamaID);
                    $('#@formName #NamaPerusahaan').val(data.Data.NamaPerusahaan);
                    $('#@formName #KdKelas').val(data.Data.KdKelas);
                    $('#@formName #TglLahir').val(data.Data.TglLahir_View);
                    getAge();
                }
                else {
                    alertpopup(data.Message, 'danger');
                }
            }
        });

    }

    $(document).ready(function () {
        anggotabaru(this);
    });

</script>
