﻿@using Registrasi.Models
@model PasienViewModel
@{
    var controllerName = "EligibilitasPasien";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
}

<div class="wall" ng-controller="form">
    <form id="@formName" onsubmit="submitForm()" autocomplete="off" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">Nomor Kartu / NIK</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="NoAnggota" name="NoAnggota" value="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <label class="radio radio-inline">
                        <input type="radio" checked name="Tipe" value="NomorKartu" /> Nomor Kartu
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" name="Tipe" value="NIK" /> NIK
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-3">
                    <button type="submit" class="btn-block btn btn-success position-left"><i class="icon-check2"></i> Cek Peserta</button>
                </div>
            </div>
        </div>
    </form>
    <div class="form-horizontal" id="fmResEgibilitas">

        <div class="form-group">
            <label class="col-md-3 control-label">No Kartu BPJS</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.NoAnggotaE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NoAnggotaE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">NIK</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.NoIdentitas, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NoIdentitas, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Nama Peserta</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Jenis Kelamin</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Kelas HAK</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.KdKelas, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.KdKelas, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Status Peserta</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
</div>

<script>
    function submitForm() {
        $('#_loading').css('display', 'block');

        var nokartu = $("#NoAnggota").val();
        if (nokartu == "") {
            alertpopup("Nomor peserta tidak boleh kosong", "info");
        }
        $.ajax({
            url: "@Url.Action("Eligibilitas", "Pasien")",
            type: "POST",
            data: {
                id: nokartu,
                tipe: $("input[name='Tipe']:checked").val(),
            },
            dataType: "JSON",
            success: function (r) {
                if (r.IsSuccess) {
                    $("#fmResEgibilitas #@nameof(Model.NoAnggotaE)").val(r.Data.@nameof(Model.NoAnggotaE));
                    $("#fmResEgibilitas #@nameof(Model.NoIdentitas)").val(r.Data.@nameof(Model.NoIdentitas));
                    $("#fmResEgibilitas #@nameof(Model.NamaPasien)").val(r.Data.@nameof(Model.NamaPasien));
                    $("#fmResEgibilitas #@nameof(Model.JenisKelamin)").val(r.Data.@nameof(Model.JenisKelamin));
                    $("#fmResEgibilitas #@nameof(Model.KdKelas)").val(r.Data.@nameof(Model.KdKelas));
                    $("#fmResEgibilitas #@nameof(Model.Status)").val(r.Data.@nameof(Model.Status));
                } else {
                    alertpopup("Data peserta tidak ditemukan", "info");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });

        $('#_loading').css('display', 'none');
    }
</script>