﻿@using Registrasi.Models
@model KabupatenViewModel
@{
    var controllerName = "Kabupaten";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Provinsi</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PropinsiID, new List<SelectListItem>(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PropinsiID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Kode Kabupaten</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="btnautoid" class="btn btn-success" onclick="autoid(this, '@Url.Action("AutoId")', '#Kode_Kabupaten')">
                                <i class="icon-sync"></i>
                            </button>
                        </span>
                        @Html.EditorFor(model => model.Kode_Kabupaten, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Kode_Kabupaten, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Kabupaten</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nama_Kabupaten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nama_Kabupaten, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>
<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
    });
    </text>
    }
    else
    {
        @:$('#btnautoid').click();
    }
</script>
<script>
    var inputprovinsi = $('#@formName #PropinsiID');

    inputprovinsi.select2({
        ajax: {
            url: "@Url.Action("List", "Provinsi")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama_Propinsi',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', inputprovinsi.val()]
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Propinsi_ID, text: value.Nama_Propinsi } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });
</script>