﻿@using Registrasi.Models
@model ReservasiViewModel
@{
    var controllerName = "Reservasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_detail";
    var targetForm = formName;

    #region ==== MODAL PASIEN
    var target_pasien = new
    {
        t0 = $"#{nameof(Model.NRM)}",
        t1 = $"#{nameof(Model.Nama)}",
        t4 = $"#{nameof(Model.Alamat)}",
        t5 = $"#{nameof(Model.Phone)}",
    };
    var modalid_pasien = $"modal_{formName}_{nameof(Model.NRM)}";
    var modalName_pasien = "Pasien";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}

<div class="wall">
    @using (Ajax.BeginForm("Detail", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <!-- Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pasien
                </div>
                <div id="panel_@(formName)_pasien" class="panel-body collapse in">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3">No Reservasi</label>
                            <div class="col-md-5">
                                <!-- input -->
                                @Html.EditorFor(model => model.NoReservasi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            <label class="col-md-4 label-checkbox" for="pasienBaru">
                                @Html.CheckBoxFor(model => model.PasienBaru, new { @class = "pointer", disabled = "disabled" })
                                Pasien Baru
                            </label>
                        </div>
                        <!--LookUp Pasien-->
                        <div class="form-group">
                            <label class="control-label col-md-3">NRM</label>
                            <div class="col-md-5">
                                <!-- input -->
                                @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @onblur = "showButtonSave();" } })
                            </div>
                            <div class="col-md-4">
                                @if (Model.Registrasi != true)
                                {
                                    <button type="button" data-target="#@modalid_pasien" data-toggle="modal" class="btn btn-block btn-danger">
                                        <i class="icon-sync"></i>  Singkronisasi NRM
                                    </button>
                                }
                            </div>
                        </div>
                        <!-- Nama Pasien -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Nama</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <!-- Alamat -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Alamat</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Alamat, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <!-- Phone -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Phone</label>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tujuan
                </div>
                <div id="panel_@(formName)_pasien" class="panel-body collapse in">
                    <div class="form-horizontal">
                        <!--LookUp Tujuan-->
                        <div class="form-group">
                            <label class="control-label col-md-3">Poli</label>
                            <div class="col-md-9">
                                <!-- input -->
                                @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <!-- Dokter -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Dokter</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.NamaDOkter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Waktu</label>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Keterangan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <!-- Tanggal -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Tanggal</label>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.UntukTanggal_View, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">No Urut</label>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.NoUrut, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right btnSubmitSingkronisasi hidden">
            <button type="button" onclick="saveSingkronisasi()" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
    }

</div>

<!-- Modal Look Pasien -->
@Html.Partial("_LookUpPasienRegistrasi", Model, new ViewDataDictionary {
{ "target", target_pasien },
{ "modalid", modalid_pasien },
{ "targetForm", targetForm },
{ "modalName", modalName_pasien },
{ "headerisajax", false }
})

<script>
    function showButtonSave() {
        if ($("#NRM").val() != "") {
            $(".btnSubmitSingkronisasi").removeClass("hidden");
        }
    }

    function saveSingkronisasi() {
         $.ajax({
            url: '@Url.Action("SingkronisasiNRM", "Reservasi")',
            data: $("#@formName").serialize(),
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup(dt.Message, 'danger');
                    var j_modal = $("#@formName").closest('.modal');
                    var table = "table_Reservasi";
                    j_modal.modal('hide');
                    if (table || undefined !== undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                else {
                    alertpopup(dt.Message, 'success');
                }
            }
        });
    }
</script>
