﻿@using Registrasi.Models
@using iHos.MVC.Converter
@{
    var controllerName = "StatusPasien";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new StatusPasienViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NRM);
    column[1] = nameof(item.NamaPasien);
    column[2] = nameof(item.Alamat);
    column[3] = nameof(item.JenisPasien);
    column[4] = nameof(item.SectionName);
    column[5] = nameof(item.StatusPeriksa);
    column[6] = nameof(item.StatusBayar);
    column[7] = nameof(item.StatusReservasi);
    column[8] = nameof(item.TglReservasi);
    column[9] = nameof(item.TglReg);
    column[10] = nameof(item.Dokter);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        text-align: center;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        text-align: center;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Tanggal</label>
                        <select class="form-control input-xs" ng-model="filter[24]" ng-change="getdatas()" onchange="changetgl()" id="filtertgl">
                            <option value="">All</option>
                            <option value="1">Tgl Reservasi</option>
                            <option value="2">Tgl Registrasi</option>
                        </select>
                    </div>
                    <div class="form-group hidden" id="tglreservasi">
                        <label>Tgl Reservasi</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[22]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group hidden" id="tglregistrasi">
                        <label>Tgl Registrasi</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[23]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Status Pasien</label>
                        <select class="form-control input-xs" ng-model="filter[25]" ng-change="getdatas()">
                            <option value="">All</option>
                            <option value="1">Belum Registrasi</option>
                            <option value="2">Sudah Registrasi</option>
                            <option value="3">Sudah Periksa</option>
                            <option value="4">Sudah Bayar</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[1]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Alamat</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Jenis Pasien</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Section</th>
                        <th ng-click="ordering($event,'@column[10]')" class="sorting">Dokter</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Status</th>
                        <th ng-click="ordering($event,'@column[8]')" class="sorting">Tgl Reservasi</th>
                        <th ng-click="ordering($event,'@column[9]')" class="sorting">Tgl Registrasi</th>

                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <!-- Table Result -->
                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td>{{data.@(column[3])}}</td>
                        <td>{{data.@(column[4])}}</td>
                        <td>{{data.@(column[10])}}</td>
                        <td>
                            <label ng-if="data.@(column[5]) == 'Sudah Periksa'" class="label label-warning">Sudah Periksa</label>
                            <label ng-if="data.@(column[6]) == 'Sudah Bayar'" class="label label-success">Sudah Bayar</label>
                            <label ng-if="data.@(column[7]) == 'Belum Registrasi'" class="label label-default">Belum Registrasi</label>
                            <label ng-if="(data.@(column[7]) == 'Sudah Registrasi' || data.@(column[7]) == 'Tanpa Reservasi') && data.@(column[5]) != 'Sudah Periksa' && data.@(column[6]) != 'Sudah Bayar'" class="label label-primary">Sudah Registrasi</label>
                        </td>
                        <td>{{data.@(column[8])_View}}</td>
                        <td>{{data.@(column[9])_View}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>
<script>
    function changetgl() {
        if ($('#filtertgl option:selected').val() == "1") {
            $('#tglreservasi').removeClass("hidden");
            $('#tglregistrasi').addClass("hidden");
            angular.element(document).ready(function () {
                var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
                var sc = angular.element('#@tableId').scope();
                sc.filter[22] = date;
                sc.filter[23] = "";
                sc.getdatas();
            });
        } else if ($('#filtertgl option:selected').val() == "2") {
            $('#tglregistrasi').removeClass("hidden");
            $('#tglreservasi').addClass("hidden");
            angular.element(document).ready(function () {
                var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
                var sc = angular.element('#@tableId').scope();
                sc.filter[22] = "";
                sc.filter[23] = date;
                sc.getdatas();
            });
        } else {
            $('#tglregistrasi').addClass("hidden");
            $('#tglreservasi').addClass("hidden");
            angular.element(document).ready(function () {
                var sc = angular.element('#@tableId').scope();
                sc.filter[22] = "";
                sc.filter[23] = "";
            });
        }
    }
</script>