﻿@using Registrasi.Models
@model InformasiTarifViewModel
@{
    var controllerName = "Tarif";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var formName = $"frm_{controllerName}";
    var targetForm = formName;

    var item = new InformasiTarifViewModel();
    var columnCount = 10;
    var column = new string[columnCount];
    column[0] = nameof(item.JasaName);
    column[1] = nameof(item.KategoriJasaName);
    column[2] = nameof(item.Kelas);
    column[3] = nameof(item.PasienKTP);
    column[4] = nameof(item.Harga);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        min-width: 150px;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        min-width : 150px;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        min-width : 100px;
    }


    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        min-width: 95px;
        text-align: center;
    }
    #@tableId tbody td:nth-child(6){
        background-color: #9cf19c;
    }
</style>
<div class="wall" ng-controller="table" id="@formName"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>
        <div class="datatable-header form-horizontal">
            <div class="col-md-12">
                <label class="col-md-2 control-label">Jasa</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.JasaID, new List<SelectListItem>(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.JasaID, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2 control-label">Kategori</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.Ketegori, StaticModel.SelectListKategori, new { @class = "form-control", ng_model = "filter[6]", ng_change = "getdatas()" })
                    @Html.ValidationMessageFor(model => model.Ketegori, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2 pull-right">
                    <div class="dataTables_length">
                        <label>
                            <span>Show:</span>
                            <select class="form-control input-xs" style="width: auto;"
                                    ng-change="getdatas()"
                                    ng-model="pagesize"
                                    ng-options="opt as opt for opt in pagesizes"></select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-horizontal" style="margin-bottom:20px;">
                <label class="col-md-2 control-label">Tipe Pasien</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.JenisPasienID, StaticModel.SelectListJenisKerjasamaTarif, new { @class = "form-control", ng_model = "filter[7]", ng_change = "getdatas()" })
                    @Html.ValidationMessageFor(model => model.JenisPasienID, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2 control-label">Kelas</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.Kelas, StaticModel.SelectListKelasPertanggunganTarif, new { @class = "form-control", ng_model = "filter[8]", ng_change = "getdatas()" })
                    @Html.ValidationMessageFor(model => model.Kelas, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[1]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">Nama Jasa</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Kategori Jasa</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Kelas</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Pasien KTP</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Harga</th>

                    </tr>
                    <tr class="filter_list" style="display:none">

                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <!-- Table Result -->
                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td>
                            <label ng-if="!data.@(column[3])" class="label label-danger">Tidak</label>
                            <label ng-if="data.@(column[3])" class="label label-success">Ya</label>
                        </td>
                        <td class="text-right">{{data.@(column[4])_View}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>
<script>
    angular.element('#@formName').ready(function () {
        var sc = angular.element('#@formName').scope();
         //sc.filter[6] = '1';
         //sc.filter[7] = '3';
         //sc.filter[8] = 'xx';
    });

    $('#JasaID').select2({
        ajax: {
            url: "@Url.Action("ListJasa", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'JasaName',
                    sortByType: 'ASC',
                    pageSize: 5,
                    pageIndex: params.page || 0,
                    filter: [params.term, '', '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.JasaID, text: value.JasaName } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#JasaID').on('change', function () {
        angular.element('#@tableId').ready(function () {
        var sc = angular.element('#@tableId').scope();
            sc.filter[5] = $('#JasaID').val();
            sc.getdatas();
        });
    });


</script>
