﻿@using Registrasi.Models
@model RegistrasiInsertViewModel
@{
    var controllerName = "Registrasi";
    ViewBag.Title = controllerName;

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Detail", Value = "active" }
};
}
<div class="wall">
    <div id="div_content">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title"> Pasien </h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                    </div>
                    <div class="panel-body collapse in" id="panel_frm_Registrasi_detail_pasien">
                        @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "hidden" } })

                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.NoReservasi)</dt>
                                <dd>@Html.DisplayFor(model => model.NoReservasi)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>No Registrasi</dt>
                                <dd>@Html.DisplayFor(model => model.NoReg)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.PasienBaru)</dt>
                                <dd>@Html.DisplayFor(model => model.PasienBaru)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.NRM)</dt>
                                <dd>@Html.DisplayFor(model => model.NRM)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.NamaPasien)</dt>
                                <dd>@Html.DisplayFor(model => model.NamaPasien)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.JenisKelamin)</dt>
                                <dd>
                                    @Html.DisplayFor(model => model.JenisKelamin)
                                    &nbsp;
                                    &nbsp;
                                    <b>@Html.DisplayNameFor(model => model.Umur)</b>
                                    &nbsp;
                                    @Html.Raw(Model.UmurView)
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.Alamat)</dt>
                                <dd>@Html.DisplayFor(model => model.Alamat)</dd>
                            </dl>
                            
                        </div>
                        <div class="col-md-6">

                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Phone)
                                    &nbsp;
                                    &nbsp;
                                    @Html.DisplayNameFor(model => model.Kelas)
                                    &nbsp;
                                    @Html.DisplayFor(model => model.Kelas)
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.PasienKTP)</dt>
                                <dd>@Html.DisplayFor(model => model.PasienKTP)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Tipe Pasien</dt>
                                <dd>
                                    @Html.DisplayFor(model => model.JenisPasienKerjasama)
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.NoKartu)</dt>
                                <dd>
                                    @Html.DisplayFor(model => model.NoKartu)
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.Kode_Customer)</dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Kode_Customer)
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.Nama_Customer)</dt>
                                <dd>@Html.DisplayFor(model => model.Nama_Customer)</dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.PasienBayi)</dt>
                                <dd>
                                    @Html.DisplayFor(model => model.PasienBayi)
                                    &nbsp;
                                    &nbsp;
                                    @Html.DisplayNameFor(model => model.PasienCovid)
                                    &nbsp;
                                    @Html.DisplayFor(model => model.PasienCovid)
                                </dd>
                            </dl>
                        </div>



                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title"> Penanggung </h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                    </div>
                    <div class="panel-body collapse in" id="panel_frm_Registrasi_detail_penanggung">
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.PasienRS)</dt>
                            <dd>@Html.DisplayFor(model => model.PasienRS)</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.PenanggungNRM)</dt>
                            <dd>@Html.DisplayFor(model => model.PenanggungNRM)</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.PenanggungNama)</dt>
                            <dd>@Html.DisplayFor(model => model.PenanggungNama)</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.PenanggungAlamat)</dt>
                            <dd>@Html.DisplayFor(model => model.PenanggungAlamat)</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.PenanggungPhone)</dt>
                            <dd>@Html.DisplayFor(model => model.PenanggungPhone)</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.PenanggungHubungan)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.PenanggungHubungan)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.Antrian)</dt>
                            <dd>@Html.DisplayFor(model => model.Antrian)</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title"> Tujuan </h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                    </div>
                    <div class="panel-body collapse in" id="panel_frm_Registrasi_detail_tujuan">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nama Section</th>
                                    <th>Dokter</th>
                                    <th>Waktu</th>
                                    <th>Tanggal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.NamaSection)</td>
                                    <td>@Html.DisplayFor(model => model.Dokter)</td>
                                    <td>@Html.DisplayFor(model => model.Waktu)</td>
                                    <td>@Html.DisplayFor(model => model.Tanggal_view)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title"> Asal Pasien </h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                    </div>
                    <div id="panel_frm_Registrasi_detail_asalpasien" class="panel-body collapse in">
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.Rujukan)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.Rujukan)
                                &nbsp;
                                &nbsp;
                                <b>@Html.DisplayNameFor(model => model.PasienPribadi)</b>
                                &nbsp;
                                @Html.DisplayFor(model => model.PasienPribadi)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.DokterPengirim)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.DokterPengirim_ID)
                                &nbsp;
                                @Html.DisplayFor(model => model.DokterPengirim)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.VendorPengirim)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.VendorID)
                                &nbsp;
                                @Html.DisplayFor(model => model.VendorPengirim)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.Memo)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.Memo)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.CaraDatang)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.CaraDatang)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title"> Asuransi </h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                    </div>
                    <div id="panel_frm_Registrasi_detail_asuransi" class="panel-body collapse in">
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.PayorCompany)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.AsuransiID)
                                &nbsp;
                                @Html.DisplayFor(model => model.PayorCompany)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.AssistingCompany)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.AssCompany_ID)
                                &nbsp;
                                @Html.DisplayFor(model => model.AssistingCompany)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.NoSJP)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.NoSJP)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.NoSep)</dt>
                            <dd>
                                @Html.DisplayFor(model => model.NoSep)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Create")" class="btn btn-success">
                <span class="icon-plus3 position-left"></span>
                Registrasi Baru
            </a>
            <a href="@Url.Action("Edit", new { id = Model.NoReg })" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil position-left"></span>
                Ubah Registrasi
            </a>

            <!-- Cetak Label -->
            <a id="btn_label" class="btn btn-info"
               onclick="printmodal('label')">
                <i class="glyphicon glyphicon-print"></i> Cetak Label
            </a>

            <!-- Cetak Tracer -->
            <a id="btn_tracer" class="btn btn-danger"
               onclick="printmodal('tracer')">
                <i class="glyphicon glyphicon-print"></i> Cetak Tracer
            </a>

            <a id="btn_generalconsent" class="btn btn-primary"
               onclick="printmodal('general_consent', this)">
                <i class="glyphicon glyphicon-print position-left"></i> Cetak General Consent
            </a>
        </div>
    </div>
</div>
<div id="modalPrint" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Print</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="printjumlah" class="col-xs-12 hidden">
                        <input type="hidden" id="printurl" />
                        <input type="hidden" id="printnoreg" />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3">Jumlah</label>
                                <div class="col-xs-9">
                                    <input type="number" class="form-control" value="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-sm-6">
                            <button class="btn btn-success btn-block text-center" onclick="autoprint(this)">
                                <h4><i class="fa fa-print"></i></h4>
                                <h4>Print</h4>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <a id="printurlmanual" class="btn btn-success btn-block text-center" onclick="loading()">
                                <h4><i class="fa fa-file-text-o"></i></h4>
                                <h4>View</h4>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a id="printurlpdf" class="btn btn-success btn-block text-center hidden">
                                <h4><i class="fa fa-file-text-o"></i></h4>
                                <h4>PDF</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
     $(function () {

        @if (Model.NoKartu != null && Model.JenisPasienKerjasama == "BPJS" && Model.NoSep == null) {
            @:openModalUpdateSEP();
        }

    });

    function openModalUpdateSEP() {
        var url = '@Url.Action("Create", "ManageSEP")?noreg=@Model.NoReg';
        angular.element('#div_content').scope().ajaxmodal({
            url: url,
            header: 'Pembuatan SEP',
            size:'md',
        });
    }

    function printmodal(id) {
        var j_jml = $('#printjumlah');
        var j_url = $('#printurl');
        var j_urlmanual = $('#printurlmanual');
        var j_urlpdf = $('#printurlpdf');
        var noreg = '@Model.NoReg';

        if (id == 'label') {
            j_url.val('@Url.Action("PrintLabel", "Report")');
            j_urlmanual.attr('href', '@Url.Action("CetakLabel", "Report")?noreg=' + noreg);
            j_jml.removeClass('hidden');
            j_urlpdf.addClass('hidden');
            j_urlmanual.removeClass('hidden');
        } else if (id == 'tracer') {
            j_url.val('@Url.Action("PrintTracer", "Report")');
            j_urlmanual.attr('href', '@Url.Action("CetakTracer", "Report")?noreg=' + noreg);
            j_jml.addClass('hidden');
            j_urlpdf.addClass('hidden');
            j_urlmanual.removeClass('hidden');
        } else if (id == 'general_consent') {
            j_url.val('@Url.Action("PrintGeneralConsent", "Report")');
            j_urlmanual.attr('href', '@Url.Action("CetakGeneralConsent", "Report")?noreg=' + noreg);
            j_jml.addClass('hidden');
            j_urlpdf.addClass('hidden');
            j_urlmanual.removeClass('hidden');
        }
        $('#modalPrint').modal();
    }

    function autoprint(t) {
        var j_t = $(t);
        noreg = '@Model.NoReg';
        var dt;
        if ($('#printjumlah').hasClass('hidden')) {
            dt = { id: noreg, h: null };
        } else {
            var jml = $('#printjumlah input[type=number]').val();
            dt = {
                id: noreg,
                h: null,
                jumlah : jml
            };
        }

        myajax({
            url: $('#printurl').val(),
            method: 'POST',
            dataType: 'json',
            beforeSend: function () {
                j_t.attr('disabled', 'disabled');
            },
            success: function (s) {
                if (!s.IsSuccess) {
                    alertpopup(s.Message, s.Status);
                } else {
                    $('#modalPrint').modal('hide');
                }
            },
            data: dt,
            complete: function () {
                j_t.removeAttr('disabled');
            }
        });

        if ($('#printurl').val() == '/Registrasi/Report/PrintTracer' || $('#printurl').val() == '/Report/PrintTracer') {
            myajax({
                url: '@Url.Action("PrintTracerRM", "Report")',
                method: 'POST',
                dataType: 'json',
                success: function (s) {
                    if (!s.IsSuccess) {
                        alertpopup(s.Message, s.Status);
                    } else {
                    }
                },
                data: dt,
            });
        }
    }
</script>

<div id="modalPrint" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Print</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="printjumlah" class="col-xs-12 hidden">
                        <input type="hidden" id="printurl" />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label class="control-label">Jumlah</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="number" class="form-control" value="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-sm-6">
                            <button class="btn btn-success btn-block text-center" onclick="autoprint(this)">
                                <h4><i class="fa fa-print"></i></h4>
                                <h4>Print</h4>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <a id="printurlmanual" class="btn btn-success btn-block text-center" onclick="loading()">
                                <h4><i class="fa fa-file-text-o"></i></h4>
                                <h4>View</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>