﻿@using iHos.MVC.Converter
@using Registrasi.Models
@{
    var controllerName = "Registrasi";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var formName = $"frm_{controllerName}";
    var item = new RegistrasiViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoReg);
    column[1] = nameof(item.TglReg);
    column[2] = nameof(item.JamReg);
    column[3] = nameof(item.SectionName);
    column[4] = nameof(item.NRM);
    column[5] = nameof(item.NamaPasien);
    column[6] = nameof(item.JenisKerjasama);
    column[7] = nameof(item.Alamat);
    column[8] = nameof(item.JenisKelamin);
    column[9] = nameof(item.UmurThn);
    column[10] = nameof(item.StatusPeriksa);
    column[11] = nameof(item.Batal);
    column[12] = nameof(item.StatusBayar);
    column[13] = nameof(item.NoSEP);
    column[14] = nameof(item.NoUrut);
    column[15] = nameof(item.Nama_Supplier);
    column[16] = nameof(item.Emoticon);
    column[17] = nameof(item.DibuatkanSEP);


    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        min-width: 100px;
        text-align: left;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 150px;
        max-width: 150px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 150px;
        max-width: 150px;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 170px;
        max-width: 170px;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        min-width: 100px;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 200px;
        max-width: 200px;
    }

    #@tableId thead th:nth-child(9),
    #@tableId tbody td:nth-child(9){
        text-align: center;
    }

    #@tableId thead th:nth-child(10),
    #@tableId tbody td:nth-child(10){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 200px;
        max-width: 200px;
    }

    #@tableId thead th:nth-child(11),
    #@tableId tbody td:nth-child(11){
        text-align: center;
    }

    #@tableId thead th:nth-child(12),
    #@tableId tbody td:nth-child(12){
        text-align: center;
    }
    .label-yellow {
        border-color: #f1c40f;
        background-color: #f1c40f;
    }
</style>

<div class="wall" ng-controller="table" id="@formName"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               class="btn btn-success">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>

            <a id="btn_tipePasien" class="btn btn-primary"
               onclick="tipepasien('@Html.Raw(@Url.Action("Create", "TipePasien", new
                                        {
                                            noreg = "@noreg"
                                        }))')"
               disabled="disabled">
                <i class="icon-equalizer2 position-left"></i> Ubah Tipe Pasien
            </a>
            <!-- Cetak BPJS -->
            <button class="btn btn-warning" id="btnBPJS" type="button" onclick="modalBPJS()" disabled>
                <i class="icon-bed2 position-left"></i>
                BPJS
            </button>

            <!-- Cetak Kartu -->
            <!--<a id="btn_kartu" class="btn bg-danger-800"
       onclick="printmodal('kartu', this)" disabled>
        <i class="glyphicon glyphicon-print"></i> Cetak Kartu
    </a>-->
            <!-- Cetak Label -->
            <a id="btn_label" class="btn btn-info"
               onclick="printmodal('label', this)" disabled>
                <i class="glyphicon glyphicon-print position-left"></i> Cetak Label
            </a>

            <!-- Cetak Tracer -->
            <a id="btn_tracer" class="btn bg-purple-300"
               onclick="printmodal('tracer', this)" disabled>
                <i class="glyphicon glyphicon-print position-left"></i> Cetak Tracer
            </a>

            <a id="btn_generalconsent" class="btn btn-primary"
               onclick="printmodal('general_consent', this)" disabled>
                <i class="glyphicon glyphicon-print position-left"></i> Cetak General Consent
            </a>

            <a id="btn_cetakkartu" class="btn bg-purple-300"
               onclick="printmodal('kartu', this)" disabled>
                <i class="glyphicon glyphicon-print position-left"></i> Cetak Kartu
            </a>

            <a id="btn_cetakkartuskincare" class="btn bg-purple-300"
               onclick="printmodal('kartuskincare', this)" disabled>
                <i class="glyphicon glyphicon-print position-left"></i> Skin Care
            </a>


            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[22]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[23]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[24]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <select class="form-control input-xs" ng-model="filter[25]" ng-change="getdatas()">
                            <option value="">All</option>
                            <option value="1">Belum Periksa</option>
                            <option value="2">Sudah Periksa</option>
                            <option value="3">CO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[26]" ng-change="getdatas()" />
                            Belum Dibuatkan SEP
                        </label>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">
                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Reg</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tgl Reg</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Section</th>
                        <th ng-click="ordering($event,'@column[15]')" class="sorting">Dokter</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Nama</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Tipe Pasien</th>
                        <th ng-click="ordering($event,'@column[10]')" class="sorting">Status Periksa</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Alamat</th>
                        <th ng-click="ordering($event,'@column[11]')" class="sorting">Batal</th>
                        <th ng-click="ordering($event,'@column[14]')" class="sorting">No Antrian</th>
                    </tr>
                    <tr class="filter_list">
                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[15]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            <input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        class="trdata"
                        data-id="{{data.@column[0]}}"
                        data-nrm="{{data.@column[4]}}"
                        data-infojeniskerjasama="{{data.@column[6]}}"
                        data-infobatal="{{data.@column[11]}}"
                        data-infonosep="{{data.@column[13]}}">

                        <td class="style="cursor:default"">

                            <a href="@Url.Action("Edit","Registrasi")/{{ data.@column[0] }}" class="text-teal-600" title="Edit">
                                <i class="icon-pencil7"></i>
                            </a>
                            <a href="@Url.Action("DetailPasien","Registrasi")/{{ data.@column[0] }}" class="text-info-600"
                               onclick="return false"
                               ng-click="detail(data.@column[0], '@Url.Action("DetailPasien","Registrasi")')" title="Detail Pasien">
                                <i class="icon-eye"></i>
                            </a>
                            @*<a href="@Url.Action("Edit")/{{ data.@column[0] }}" class="text-teal-600"
           onclick="return false" ng-if="!data.@(column[11])"
           ng-click="edit(data.@column[0], '@Url.Action("Edit")')" title="Edit">
            <i class="icon-pencil7"></i>
        </a>*@
                            <a ng-if="data.@(column[10]) == 'Belum' && !data.@(column[11])"
                               onclick="batalclick(this)"
                               title="Batal" data-id="{{data.@column[0]}}">
                                <i class="icon-x text-danger"></i>
                            </a>
                            &nbsp;
                            <label ng-if="data.@(column[17]) == true"><i class="icon icon-circle2 text-primary" title="Sudah Dibuatkan SEP"></i></label>
                            <label ng-if="data.@(column[17]) == false"><i class="icon icon-circle2 text-danger" title="Belum Dibuatkan SEP"></i></label>
                        </td>

                        <!-- Table Result -->
                        <td>
                            <a class="text-teal-600"
                               ng-if="data.@(column[16])"
                               ng-click="detail_param({id : data.@column[4]}, '@Url.Action("PasienBermasalah","Pasien")')" title="DetailStatus">
                                {{data.@(column[16])}}
                            </a>
                            {{data.@(column[0])}}
                            
                        </td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td title="{{data.@(column[3])}}">{{data.@(column[3])}}</td>
                        <td title="{{data.@(column[15])}}">{{data.@(column[15])}}</td>
                        <td>
                            <label ng-if="data.@(column[8]) == 'M'" class="text-primary fa fa-mars"></label>
                            <label ng-if="data.@(column[8]) == 'F'" class="text-danger fa fa-venus"></label>
                            <label ng-if="data.@(column[8]) != 'F' && data.@(column[8]) != 'M'" class="text-warning genderless"></label>
                            &nbsp;
                            {{data.@(column[4])}}
                        </td>
                        <td title="{{data.@(column[5])}}">{{data.@(column[5])}}</td>
                        <td>{{data.@(column[6])}}</td>
                        <td>
                            <label ng-if="data.@(column[10]) == 'Sudah' || data.@(column[10]) == 'Sudah Periksa'" class="label label-info">Sudah</label>
                            <label ng-if="data.@(column[10]) == 'Sudah Bayar'" class="label label-danger">Pulang</label>
                            <label ng-if="data.@(column[10]) == 'Belum'" class="label label-yellow">Belum</label>
                            <label ng-if="data.@(column[10]) == 'CO'" class="label label-success">CO</label>
                        </td>
                        <td title="{{data.@(column[7])}}">{{data.@(column[7])}}</td>
                        <td>
                            <label ng-if="data.@(column[11])" class="label label-danger">Ya</label>
                            <label ng-if="!data.@(column[11])" class="label label-success">Tidak</label>
                        </td>
                        <td>{{data.@(column[14])}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalbatal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header label-danger text-default">
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-white">Batal</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="form-group">
                        <label>Alasan Batal</label>
                        <input type="text" class="hidden" id="noreg"/>
                        <input type="text" class="form-control" id="textalasan" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="batalasalan(this)">Simpan</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal BPJS-->
<div class="modal fade" id="modalbpjs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button class="btn btn-danger" onclick="modalsep('edit')">Edit SEP</button>
                <button class="btn btn-primary" onclick="modalsep('list')">List SEP</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Bridging-->
<div class="modal fade" id="modalsep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div id="urlBridging"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closeSEP()">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="modalPrint" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Print</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="printjumlah" class="col-xs-12 hidden">
                        <input type="hidden" id="printurl" />
                        <input type="hidden" id="printnoreg" />
                        <input type="hidden" id="printnrm" />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3">Jumlah</label>
                                <div class="col-xs-9">
                                    <input id="fmJumlahPrint" type="number" class="form-control" value="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-sm-6">
                            <button class="btn btn-success btn-block text-center" onclick="autoprint(this)">
                                <h4><i class="fa fa-print"></i></h4>
                                <h4>Print</h4>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <a id="printurlmanual" target="_blank" class="btn btn-success btn-block text-center hidden">
                                <h4><i class="fa fa-file-text-o"></i></h4>
                                <h4>View</h4>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a id="customButton" onclick="fmcetakLabel()" class="btn btn-success btn-block text-center hidden">
                                <h4><i class="fa fa-file-text-o"></i></h4>
                                <h4>View</h4>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a id="printurlpdf" class="btn btn-success btn-block text-center hidden">
                                <h4><i class="fa fa-file-text-o"></i></h4>
                                <h4>PDF</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function printmodal(id, t) {
        var jjjml = $("#fmJumlahPrint").val();
        var j_jml = $('#printjumlah');
        var j_url = $('#printurl');
        var j_urlmanual = $('#printurlmanual');
        var j_urlpdf = $('#printurlpdf');
        var j_cusBTN = $('#customButton');

        if (t == undefined) return false;
        if ($(t).attr('disabled') == 'disabled') return false;
        var j_tr = $('#@tableId tbody tr.active-info');
        var noreg = j_tr.data('id');
        var nrm = j_tr.data('nrm');
        $('#printnoreg').val(noreg);
        $('#printnrm').val(nrm);

        if (id == 'label') {
            j_url.val('@Url.Action("PrintLabel", "Report")');
            //j_urlmanual.attr('href', '@Url.Action("CetakLabel", "Report")?noreg=' + noreg + '&jml=' + jjjml);
            j_jml.removeClass('hidden');
            j_urlpdf.addClass('hidden');
            j_urlmanual.addClass('hidden');
            j_cusBTN.removeClass('hidden');
        } else if (id == 'tracer') {
            j_url.val('@Url.Action("PrintTracer", "Report")');
            j_urlmanual.attr('href', '@Url.Action("CetakTracer", "Report")?noreg=' + noreg);
            j_jml.addClass('hidden');
            j_urlpdf.addClass('hidden');
            j_urlmanual.removeClass('hidden');
            j_cusBTN.addClass('hidden');
        } else if (id == 'general_consent') {
            j_url.val('@Url.Action("PrintGeneralConsent", "Report")');
            j_urlmanual.attr('href', '@Url.Action("CetakGeneralConsent", "Report")?noreg=' + noreg);
            j_jml.addClass('hidden');
            j_urlpdf.addClass('hidden');
            j_urlmanual.removeClass('hidden');
            j_cusBTN.addClass('hidden');
        } else if (id == 'kartu') {
            j_url.val('@Url.Action("PrintKartu", "Report")');
            j_urlmanual.attr('href', '@Url.Action("CetakKartu", "Report")?nrm=' + nrm + '&noreg=' + noreg);
            j_jml.addClass('hidden');
            j_urlpdf.addClass('hidden');
            j_urlmanual.removeClass('hidden');
            j_cusBTN.addClass('hidden');
        }
        else if (id == 'kartuskincare') {
            j_url.val('@Url.Action("PrintKartuSkinCare", "Report")');
            j_urlmanual.attr('href', '@Url.Action("CetakKartuSkinCare", "Report")?nrm=' + nrm + '&noreg=' + noreg);
            j_jml.addClass('hidden');
            j_urlpdf.addClass('hidden');
            j_urlmanual.removeClass('hidden');
            j_cusBTN.addClass('hidden');
        }

        $('#modalPrint').modal();

    }

    function fmcetakLabel() {

        var jjjml = $("#fmJumlahPrint").val();

        var j_tr = $('#@tableId tbody tr.active-info');
        var noreg = j_tr.data('id');

        window.open('@Url.Action("CetakLabel", "Report")?noreg=' + noreg + '&jml=' + jjjml, '_blank');

    }

    function modalBPJS() {
        $('#modalbpjs').modal();
    }

    function closeSEP() {
        $('#modalsep').modal('hide');
    }

    function modalsep(t) {

        var url = '@ViewBag.Url';
        var j_tr = $('#@tableId tbody tr.active-info');
        if (t == 'edit') {
            var nosep = j_tr.data('infonosep');
            if (nosep === null || nosep === '') {
                alertpopup('No SEP Kosong', 'warning');
            } else if (nosep.length != '19') {
                alertpopup('No SEP tidak valid', 'warning');
            } else {
                var r = '';
                r += '<iframe src="' + url + "/SEP/Edit/" + nosep + '" style="width:100%; height:600px"></iframe>';
                $('#urlBridging').html(r);
                $('#modalsep').modal();
            }
        } else if (t == 'list') {
            var r = '';
            url = url + "/SEP";
            r += '<iframe src="' + url + '" style="width:100%; height:600px"></iframe>';
            $('#urlBridging').html(r);
            $('#modalsep').modal();
        }
    }
    angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[22] = date;
        sc.filter[23] = date;
        sc.getdatas();
    });
    function tipepasien(url) {
        var j_tr = $('#@tableId tbody tr.active-info');
        var noreg = j_tr.data('id');
        var batal = j_tr.data('infobatal');
        if (batal == true) {
            $('#btn_tipePasien').attr('disabled', 'disabled');
        }
        else {
            if (noreg != undefined) {
                url = url.replace('%40noreg', noreg)
                angular.element('#@formName').scope().ajaxmodal({
                    url: url,
                    header: 'Ubah Tipe Pasien',
                    target_auto_refresh: '@tableId',
                    size : 'md'
                });
            }
        }
    }

    function disableButton(_disabled, has_periksa) {
    var j_tr = $('#@tableId tbody tr.active-info');
    var batal = j_tr.data('infobatal');
    var jnskerjasama = j_tr.data('infojeniskerjasama');
    if (_disabled) {
        $('#btn_tipePasien').attr('disabled', _disabled);
        $('#btnBPJS').attr('disabled', _disabled);
        $('#btn_label').attr('disabled', _disabled);
        $('#btn_tracer').attr('disabled', _disabled);
        $('#btn_generalconsent').attr('disabled', _disabled);
        $('#btn_cetakkartu').attr('disabled', _disabled);
        $('#btn_cetakkartuskincare').attr('disabled', _disabled);
    } else {
            if (batal == true) {
                $('#btn_tipePasien').attr('disabled', true);
                $('#btnBPJS').attr('disabled', true);
                $('#btn_label').attr('disabled', true);
                $('#btn_tracer').attr('disabled', true);
                $('#btn_generalconsent').attr('disabled', true);
                $('#btn_cetakkartu').attr('disabled', true);
                $('#btn_cetakkartuskincare').attr('disabled', true);
            }
            else {
                if (jnskerjasama != 'BPJS') {
                    $('#btnBPJS').attr('disabled', 'disabled');
                } else {
                    $('#btnBPJS').removeAttr('disabled');
                }
                $('#btn_tipePasien').attr('disabled', _disabled );
                $('#btn_label').attr('disabled', _disabled);
                $('#btn_tracer').attr('disabled', _disabled);
                $('#btn_generalconsent').attr('disabled', _disabled);
                $('#btn_cetakkartu').attr('disabled', _disabled);
                $('#btn_cetakkartuskincare').attr('disabled', _disabled);
            }
        }
    }

     document.addEventListener("DOMContentLoaded", function (event) {
        $('#@tableId tbody').click('tr',function (e) {
                var j_this = $(e.target).closest('tr');
                var j_tbody = j_this.closest('tbody');
                var hasClass = j_this.hasClass('active-info');
                j_tbody.find('tr').removeClass('active-info');
                if (hasClass) {
                    disableButton(true);
                    j_this.removeClass('active-info');
                } else {
                    j_this.addClass('active-info');
                    disableButton(false, j_this.find('td:first label').hasClass('label-danger'));
                }
            });
    });

    function batalclick(t) {
        var noreg = $(t).data('id');
        $('#textalasan').val('');
        $('#noreg').val(noreg);
        $('#modalbatal').modal();
    }

   function batalasalan(t) {
        var j_t = $(t).closest('.modal');
        var noreg = $('#noreg').val();
        var alasan = $('#textalasan').val();
        var url = '@Url.Action("Batal")';
        myajax({
            url: url,
            data: {
                id: noreg,
                alasan: alasan
            },
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.IsSuccess == true) {
                    angular.element('#@formName').scope().getdatas();
                }
                alertpopup(data.Message, data.Status);
                $('#modalbatal').modal('hide');
            }
        });
    }

    function autoprint(t) {
        var j_t = $(t);
        var noreg = $('#printnoreg').val();
        var nrm = $('#printnrm').val();
        var dt;
        if ($('#printjumlah').hasClass('hidden')) {
            dt = { id: noreg, h: null };
        } else {
            var jml = $('#printjumlah input[type=number]').val();
            dt = {
                id: noreg,
                h: null,
                jumlah: jml,
                nrm: nrm
            };
        }

        myajax({
            url: $('#printurl').val(),
            method: 'POST',
            dataType: 'json',
            beforeSend: function () {
                j_t.attr('disabled', 'disabled');
            },
            success: function (s) {
                if (!s.IsSuccess) {
                    alertpopup(s.Message, s.Status);
                } else {
                    $('#modalPrint').modal('hide');
                }
            },
            data: dt,
            complete: function () {
                j_t.removeAttr('disabled');
            }
        });

        if ($('#printurl').val() == '/Registrasi/Report/PrintTracer' || $('#printurl').val() == '/Report/PrintTracer') {
            myajax({
                url: '@Url.Action("PrintTracerRM", "Report")',
                method: 'POST',
                dataType: 'json',
                success: function (s) {
                    if (!s.IsSuccess) {
                        alertpopup(s.Message, s.Status);
                    }
                },
                data: dt,
            });
        }
    }
</script>