﻿@using Registrasi.Models
@model SettingViewModel
@{
    var controllerName = "Setting";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Index", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <!-- IPKartu -->
                        <div class="form-group">
                            <label class="col-md-2">IP Kartu</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.IPKartu, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.IPKartu, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.PortKartu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PortKartu, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2">
                                @Html.EditorFor(model => model.AutoPrintKartu)
                                Auot Print Kartu
                            </label>
                        </div>

                        <!-- IPLabel -->
                        <div class="form-group">
                            <label class="col-md-2">IP Label</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.IPLabel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IPLabel, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.PortLabel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PortLabel, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2">
                                @Html.EditorFor(model => model.AutoPrintLabel)
                                Auot Print Label
                            </label>
                        </div>

                        <!-- IPTracer -->
                        <div class="form-group">
                            <label class="col-md-2">IP Tracer</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.IPTracer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IPTracer, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.PortTracer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PortTracer, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2">
                                @Html.EditorFor(model => model.AutoPrintTracer)
                                Auot Print Tracer
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">IP Tracer RM</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.IPTracerRM, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IPTracerRM, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.PortTracerRM, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PortTracerRM, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">IP Gelang Dewasa</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.IPGelangD, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IPGelangD, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.PortGelangD, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PortGelangD, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">IP Gelang Bayi</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.IPGelangB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IPGelangB, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.PortGelangB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PortGelangB, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- JumlahPrintLabel -->
                        <div class="form-group">
                            <label class="col-md-2">Jumlah Print Label</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.JumlahPrintLabel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JumlahPrintLabel, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Jumlah Print Gelang</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.JumlahPrintGelang, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JumlahPrintGelang, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    }

</div>