﻿@using Registrasi.Models
@model MutasiViewModel
@{
    var controllerName = "Mutasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL KAMAR
    var targetkamar = new
    {
        t0 = $"#{nameof(Model.NoKamar)}",
        t1 = $"#{nameof(Model.NoBed)}"
    };
    var modalidkamar = $"modal_Kamar";
    var modalNameKamar = $"Lookup Kamar";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.SectionAsalID)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-default">
            <div class="panel-heading">
                Data Pasien
                <a data-toggle="collapse" data-target="#panel_@(formName)_datapasien">
                    <i class="glyphicon glyphicon-minus pull-right pointer"></i>
                </a>
            </div>
            <div id="panel_@(formName)_datapasien" class="collapse out">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">NRM</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-md-2">Tipe Pasien</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.JenisKerjasama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.JenisKerjasama, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Pasien</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Gender</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-md-2">Umur</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Alamat</label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Alamat, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Phone</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-md-2">Kelas</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Kelas, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Kelas, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Pasien RS</label>
                                    <div class="col-md-2 control-label">
                                        @Html.CheckBoxFor(model => model.PasienRS, new { @class = "pointer", onclick = "checkpenanggungclear()" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">NRM</label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.PenanggungNRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.PenanggungNRM, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="PenanggungNama">
                                        Nama Penanggung
                                    </label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.PenanggungNama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.PenanggungNama, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="PenanggungAlamat">
                                        Alamat Penanggung
                                    </label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.PenanggungAlamat, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.PenanggungAlamat, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="PenanggungPhone">
                                        Phone Penanggung
                                    </label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.PenanggungPhone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.PenanggungPhone, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-md-2" for="PenanggungHubungan">
                                        Hubungan
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.PenanggungHubungan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.PenanggungHubungan, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title"> Tujuan <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                    <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                </div>
                <div class="panel-body collapse in">
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelas Pertanggungan</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.KelasPelayanan, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.KelasPelayanan, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelas Pelayanan</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.KelasID, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.KelasID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelas Ditempati</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.KelasDitempati, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.KelasDitempati, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <label class="checkbox-inline" for="TitipKelas">
                                            @Html.CheckBoxFor(model => model.Titip) Titip Kelas
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="RawatGabung" class="pointer" />Rawat Gabung
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Section</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.SectionID, new List<SelectListItem>(), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kamar / No Bed</label>
                                    <div class="col-md-6 margin-bottom-md">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button data-toggle="modal" onclick="changelookupkamarmodel()" data-target="#@modalidkamar"
                                                        class="btn btn-success input-lookup" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                            @Html.EditorFor(model => model.NoKamar, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.NoKamar, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => model.NoBed, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Dokter</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Dokter_ID, new List<SelectListItem>(), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Dokter_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
    }

</div>
<!-- Modal Look Up Kamar -->
@Html.Partial("_LookUpKamar", Model, new ViewDataDictionary {
    { "target", targetkamar },
    { "modalid", modalidkamar },
    { "targetForm", targetForm },
    { "modalName", modalNameKamar },
    { "headerisajax", false }
})
<script>
    $(document).ready(function () {
        $('.icon-paragraph-justify3').click();
    });

    $('#@formName #SectionID').select2({
        ajax: {
            url: "@Url.Action("ListSectionRI", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'SectionName',
                    sortByType: 'ASC',
                    pageSize: 10,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.SectionID, text: value.SectionName } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #Dokter_ID').select2({
        ajax: {
            url: "@Url.Action("ListDokter", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 10,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #SectionID').on('change', function () {
        checkKamar();
    });

    function checkKamar(){
        angular.element('#@modalidkamar').scope().filter[2] = $('#SectionID option:selected').val();
        angular.element('#@modalidkamar').scope().getdatas();
    }

    function changelookupkamarmodel() {
        var c = angular.element('#@modalidkamar');
        c.scope().filter[2] = $('#@nameof(Model.SectionID)').val();
        c.scope().filter[4] = $('#@nameof(Model.KelasDitempati)').val();
        c.scope().getdatas();
        if ($('#@nameof(Model.RawatGabung)').is(':checked') == true) {
            var rawatgabung = '1';
        } else {
            var rawatgabung = '0';
        }
        c.scope().filter[5] = rawatgabung;
    }
</script>
