﻿@using Registrasi.Models
@model KategoriPasienViewModel
@{
    var controllerName = "KategoriPasien";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-3">Kategori</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.KategoriMasalah, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.KategoriMasalah, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Emoticon</label>
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.Emoticon, htmlAttributes: new { @class = "form-control", style = "font-size:x-large" })
                    @Html.ValidationMessageFor(model => model.Emoticon, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script>
    $(function () {
        $('#Emoticon').emoji({
            button: '&#x1F642;',
            fontSize: '20px',
            place: 'after'
        });
    })   
</script>