﻿@using Registrasi.Models
@model PasienBermasalahViewModel
@{
    var controllerName = "PasienKhusus";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL PASIEN
    var target_pasien = new
    {
        t0 = $"#{nameof(Model.NRM)}",
        t1 = $"#{nameof(Model.NamaPasien)}"

    };
    var modalid_pasien = $"modal_{formName}_PasienAll";
    var modalName_pasien = "Pasien";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!--LookUp Pasien-->
            <div class="form-group">
                <label class="control-label col-md-3">NRM</label>
                <div class="col-md-5 margin-bottom-md">
                        <!-- input -->
                        @Html.EditorFor(model => model.NRM, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control",
                           @readonly = "readonly",
                           onkeypress = "formatnrm(this, event)"
                       }
                   })
                    @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Nama Pasien</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", onblur = "toUppercase_(this)" } })
                    @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    Kategori
                </label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.KategoriMasalah, StaticModel.SelectListKategoriPasienBermasalah, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.KategoriMasalah, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Deskripsi</label>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.DeskripsiMasalah, htmlAttributes: new { @class = "form-control", @rows = "3" })
                    @Html.ValidationMessageFor(model => model.DeskripsiMasalah, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Emoticon</label>
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.Emoticon, htmlAttributes: new { @class = "form-control", style = "font-size:x-large", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Emoticon, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>
<!-- Modal Look Pasien -->
@Html.Partial("_LookUpPasienAll", Model, new ViewDataDictionary {
    { "target", target_pasien },
    { "modalid", modalid_pasien },
    { "targetForm", targetForm },
    { "modalName", modalName_pasien },
    { "headerisajax", false }
})

<script>
    //$('#Emoticon').emoji();

    function toUppercase_(this_) {
        x = this_.value;
        x = x.toUpperCase();
        this_.value = x;
    }

    function getdatapasien() {
        var j_this = $("#NRM");
        var j_form = j_this.closest('form');
        var target = {
            NamaPasien: $("#NamaPasien")
        };
        if (j_this.val() == '') {
            $.each(target, function (index, value) {
                j_form.find(value).val('');
            });
            return('');
        }
        var url = '@Url.Action("GetDataPasienAll", "LookUp")';
        var parameter = {
            id: $("#NRM")
        };
        $.each(parameter, function (index, value) {
            parameter[index] = j_form.find(value).val();
        });
        myajax({
            url: url,
            data: parameter,
            method: 'GET',
            dataType: 'json',
            beforeSend: function () {
                j_this.attr('disabled', 'disabled');
            },
            complete: function () {
                j_this.removeAttr('disabled');
            },
            success: function (data) {
                if (data.IsSuccess == false) {
                    alertpopup(data.Message, data.Status);
                    j_this.val('');
                    $.each(target, function (index, value) {
                        j_form.find(value).val('');
                    });
                }
                else {
                    $.each(target, function (index, value) {
                        var _input = j_form.find(value);
                        _input.val(data[index]);
                    });
                }
            }
        });
    }

    function formatnrm(t, e) {
        var nrm = document.getElementById(t.id);
        if ((nrm.value.length == 2 || nrm.value.length == 5) && (e.type == "keypress" && e.key == ".")) {

            return false
        } else {

            if (nrm.value.length == 2 || nrm.value.length == 5)
                nrm.value = nrm.value + ".";
        }
    }
    getemoticon();
    function getemoticon() {
         myajax({
                url: '@Url.Action("GetEmoticon", "KategoriPasien")',
                data: {
                    id: $('#KategoriMasalah').val()
                },
                method: 'GET',
                dataType: 'JSON',
                success: function (dt) {
                    if (!dt.IsSuccess)
                        alertpopup(dt.Message, 'info');
                    else {
                        $('#Emoticon').val(dt.Data);
                    }
                }
            });
    }
</script>