﻿<ol class="breadcrumb menu-location">
    <li><a onclick="loading()" href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Cetak Label</li>
</ol>
<br />
<embed src="@Url.Action("Labelpdf", "Report", new { noreg = ViewBag.NoReg, jml = ViewBag.Jml})" type="application/pdf" width="100%" height="600px" />