﻿<ol class="breadcrumb menu-location">
    <li><a onclick="loading()" href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Cetak Tracer</li>
</ol>
<br />
<embed src="@Url.Action("GeneralConsentpdf", "Report", new { noreg = ViewBag.NoReg})" type="application/pdf" width="100%" height="600px" />
