﻿@using Registrasi.Models
@model RegistrasiRIInsertViewModel
@{
    var controllerName = "RegistrasiRI";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL TUJUAN
    var target_tujuan = new
    {
        t0 = $"#{nameof(Model.SectionID)}",
        t1 = $"#{nameof(Model.NamaSection)}",
        t2 = $"#{nameof(Model.Dokter)}",
        t3 = $"#{nameof(Model.Waktu)}",
        t4 = $"#{nameof(Model.Tanggal_view)}",
        t5 = $"#{nameof(Model.Dokter_ID)}",
        t6 = $"#{nameof(Model.WaktuPraktek_ID)}",
        t7 = $"#{nameof(Model.Tanggal)}"
    };
    var modalid_tujuan = $"modal_{formName}_{nameof(Model.SectionID)}";
    var modalName_tujuan = $"Tujuan";
    #endregion

    #region ==== MODAL SUPPLIER
    var targetsupplier = new
    {
        t0 = $"#{nameof(Model.Dokter_ID)}",
        t1 = $"#{nameof(Model.Dokter)}"
    };
    var modalsupplierid = $"modal_Supplier";
    var modalNameSupplier = $"Lookup Dokter";
    var targetFormSupplier = formName;
    #endregion

    #region ==== MODAL PASIEN
    var target_pasien = new
    {
        t0 = $"#{nameof(Model.NRM)}",
        t1 = $"#{nameof(Model.NamaPasien)}",
        t2 = $"#{nameof(Model.JenisKelamin)}",
        t3 = $"#{nameof(Model.Umur)}",
        t4 = $"#{nameof(Model.Alamat)}",
        t5 = $"#{nameof(Model.Phone)}",
        t6 = $"#{nameof(Model.Kelas)}",
        t7 = $"#{nameof(Model.JenisPasienKerjasamaID)}",
        t8 = $"#{nameof(Model.NoKartu)}",
        t9 = $"#{nameof(Model.NamaPerusahaan)}",
        t10 = $"#{nameof(Model.CompanyID)}"
    };
    var modalid_pasien = $"modal_{formName}_{nameof(Model.NRM)}";
    var modalName_pasien = "Pasien";
    #endregion

    #region ==== MODAL ANGGOTA
    var targetkartu = new
    {
        t0 = $"#{nameof(Model.NoKartu)}",
        t1 = $"#{nameof(Model.Kelas)}",
        t2 = $"#{nameof(Model.KelasID)}"
    };
    var modalnomoranggota = $"modal_Kartu";
    var modalNameKartu = $"Lookup Kartu";
    var targetFormkartu = formName;
    #endregion

    #region ==== MODAL PENANGGUNG
    var target_penanggung = new
    {
        t0 = $"#{nameof(Model.PenanggungNRM)}",
        t1 = $"#{nameof(Model.PenanggungNama)}",
        t2 = $"#{nameof(Model.PenanggungAlamat)}",
        t3 = $"#{nameof(Model.PenanggungPhone)}"

    };
    var modalid_penanggung = $"modal_{formName}_{nameof(Model.PenanggungNRM)}";
    var modalName_penanggung = $"Penanggung";
    #endregion

    #region ==== MODAL PAKET
    var target_paket = new
    {
        t0 = $"#{nameof(Model.PaketJasa_ID)}",
        t1 = $"#{nameof(Model.Paket)}"

    };
    var modalid_paket = $"modal_{formName}_{nameof(Model.PaketJasa_ID)}";
    var modalName_paket = $"Paket";
    #endregion

    #region ==== MODAL KAMAR
    var targetkamar = new
    {
        t0 = $"#{nameof(Model.NoKamar)}",
        t1 = $"#{nameof(Model.NoBed)}"
    };
    var modalidkamar = $"modal_Kamar";
    var modalNameKamar = $"Lookup Kamar";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall frm_Registrasi" ng-controller="form">
    @using (Html.BeginForm("Create", "RegistrasiRI", FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.AntiForgeryToken()
        <a id="btnpasienbaru" href="@Url.Action("Create","Pasien")"
           ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","Pasien")',
                                header: 'Pasien Baru',
                                target_auto_refresh : '@tableId',
                                param : { ajax : 'true' }
                           })"
           class="btn btn-success hidden" onclick="event.preventDefault()">
            <i class="glyphicon glyphicon-plus"></i>Tambah
        </a>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title"> Pasien <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                </ul>
                            </div>
                            <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                        </div>
                        <div class="panel-body">
                            <!-- Pasien Baru -->
                            <!-- Pasien Baru -->
                            <div class="form-group">
                                <label class="control-label col-md-2" for="PasienBaru">Pasien Baru</label>
                                <label class="col-md-1 control-label">
                                    @Html.CheckBoxFor(model => model.PasienBaru, new { @class = "pointer", onclick = "createpasien()" })
                                </label>
                                <div class="col-md-4 col-md-offset-1">
                                    <button type="button" class="btn btn-danger btn-block" ng-click="$parent.ajaxmodal({
                                            url: '@Url.Action("Eligibilitas","Pasien")',
                                            header: 'Eligibilitas Peserta',
                                            size : 'modal-xs'
                                       })">
                                        <i class="icon-credit-card position-left"></i> Eligibilitas Peserta
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-block" onclick="showRiwayatKunjungan()">
                                        <i class="icon-history position-left"></i> Riwayat Kunjungan
                                    </button>
                                </div>
                            </div>
                            <!--LookUp Pasien-->
                            <div class="form-group">
                                <label class="control-label col-md-2">NRM</label>
                                <div class="col-md-6 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button id="btnpasien" data-toggle="modal" data-target="#@modalid_pasien"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", onblur = "getdatapasien()", onkeypress = "formatnrm(this, event)" } })
                                        <!--<span class="input-group-btn">-->
                                        <!-- button -->
                                        <!--<button class="btn btn-success" type="button" onclick="autoPenanggung()">
                                                Penanggung Pasien
                                            </button>
                                            <button class="btn btn-default hidden" type="button" onclick="copyNRM()">
                                                Copy
                                            </button>
                                        </span>-->
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-success btn-block" type="button" onclick="editDatapasien()">
                                        <i class="icon-man-woman position-left"></i> Edit Data Pasien
                                    </button>
                                </div>
                            </div>
                            <!-- Nama Pasien -->
                            <div class="form-group">
                                <label class="control-label col-md-2">Nama Pasien</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Gender</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.JenisKelamin, StaticModel.SelectListGender, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">Umur</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- Alamat -->
                            <div class="form-group">
                                <label class="control-label col-md-2">Alamat</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Alamat, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- Phone & Kelas -->
                            <div class="form-group">
                                <label class="control-label col-md-2">Phone</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-md-offset-2 control-label">
                                    @Html.CheckBoxFor(model => model.PasienPanjer, new { @class = "pointer", onchange = "anggotapanjer(this)" })
                                    Pasien Panjer
                                </label>
                                <label class="control-label col-md-2">Kelas</label>
                                <div class="col-md-4">
                                    @*@Html.EditorFor(model => model.Kelas, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                                    @Html.DropDownListFor(model => model.Kelas, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.Kelas, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Tipe Pasien</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.JenisPasienKerjasamaID, StaticModel.SelectListJenisKerjasama, new { @class = "form-control", onchange = "tipepasien();changeJenisPasienKerjasamaID();" })
                                    @Html.ValidationMessageFor(model => model.JenisPasienKerjasamaID, "", new { @class = "text-danger" })
                                </div>
                                <!-- Pasien KTP -->
                                <label class="control-label col-md-2">Perusahaan</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.CompanyID, new List<SelectListItem>(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-md-offset-2 control-label">
                                    @Html.CheckBoxFor(model => model.AnggotaBaruReg, new { @class = "pointer", onchange = "anggotabaru(this)" })
                                    Anggota Baru
                                </label>

                                <label class="control-label col-md-2">No Kartu</label>
                                <div class="col-md-4 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <!-- button -->
                                            <button id="btnnoanggota" data-toggle="modal"
                                                    onclick="changelookupanggota()"
                                                    data-target="#@modalnomoranggota"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        <!-- input -->
                                        @Html.EditorFor(model => model.NoKartu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", onblur = "get_dataCustomer()" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NoKartu, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-md-offset-2 control-label">
                                    @Html.CheckBoxFor(model => model.PasienKTP, new { @class = "pointer", onchange = "checkPasienKTP()" })
                                    Pasien KTP
                                </label>
                                <label class="col-md-3 control-label">
                                    @Html.CheckBoxFor(model => model.PasienBayi, new { @class = "pointer" })
                                    Pasien Bayi
                                </label>
                                <label class="col-md-3 control-label">
                                    @Html.CheckBoxFor(model => model.PasienCovid, new { @class = "pointer" })
                                    Pasien Covid
                                </label>
                                <div class="col-md-1">
                                    <label id="kitas" class="hidden control-label" style="color:#ff0000">KITAS</label>
                                    <label id="nonkitas" class="hidden control-label" style="color:#ff0000">NON KITAS</label>
                                </div>
                            </div>

                            <input type="hidden" id="d_Kode_Customer" value="" />
                            <input type="hidden" id="d_Nama_Customer" value="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title"> Penanggung <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                </ul>
                            </div>
                            <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                        </div>
                        <div class="panel-body">
                            <!-- Pasien RS-->
                            <div class="form-group">
                                <label class="control-label col-md-3">Pasien RS</label>
                                <div class="col-md-2 control-label">
                                    @Html.CheckBoxFor(model => model.PasienRS, new { @class = "pointer", onclick = "checkpenanggungclear()" })
                                </div>
                                <div class="col-md-4 col-md-offset-3">
                                    <button class="btn btn-info btn-block" type="button" onclick="autoPenanggung()">
                                        <i class="icon-user-tie position-left"></i> Penanggung Pasien
                                    </button>
                                </div>
                            </div>
                            <!--LookUp Penanggung-->
                            <div class="form-group">
                                <label class="control-label col-md-3">NRM</label>
                                <div class="col-md-9 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <!-- button -->
                                            <button data-toggle="modal" data-target="#@modalid_penanggung" id="penanggung"
                                                    class="btn btn-success input-lookup" type="button" disabled="disabled">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        <!-- input -->
                                        @Html.EditorFor(model => model.PenanggungNRM, new { htmlAttributes = new { @class = "form-control", onblur = "getdatapenanggung(this)", @readonly = "readonly", onkeypress = "formatnrm(this)" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.PenanggungNRM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- Nama  -->
                            <div class="form-group">
                                <label class="control-label col-md-3" for="PenanggungNama">
                                    Nama Penanggung
                                </label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.PenanggungNama, new { htmlAttributes = new { @class = "form-control", } })
                                    @Html.ValidationMessageFor(model => model.PenanggungNama, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- PenanggungAlamat -->
                            <div class="form-group">
                                <label class="control-label pointer col-md-3" for="checkalamat">Alamat Sama</label>
                                <div class="col-md-2 control-label">
                                    <input class="pointer" id="checkalamat" name="checkalamat" onclick="copyalamat()" type="checkbox">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="PenanggungAlamat">
                                    Alamat Penanggung
                                </label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.PenanggungAlamat, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PenanggungAlamat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- PenanggungPhone -->
                            <div class="form-group">
                                <label class="control-label pointer col-md-3" for="checkphone">Phone Sama</label>
                                <div class="col-md-9 control-label">
                                    <input class="pointer" id="checkphone" name="checkphone" onclick="copyphone()" type="checkbox">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="PenanggungPhone">
                                    Phone Penanggung
                                </label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.PenanggungPhone, new { htmlAttributes = new { @class = "form-control", } })
                                    @Html.ValidationMessageFor(model => model.PenanggungPhone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- Hubungan -->
                            <div class="form-group">
                                <label class="control-label col-md-3" for="PenanggungHubungan">
                                    Hubungan Penanggung
                                </label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.PenanggungHubungan, StaticModel.SelectListPenanggungHubungan, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PenanggungHubungan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title"> Tujuan <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                </ul>
                            </div>
                            <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                        </div>
                        <div class="panel-body collapse in">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kelas Pertanggungan</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Reg_KelasPertanggungan, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Reg_KelasPertanggungan, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kelas Pelayanan</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Reg_KelasPelayanan, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Reg_KelasPelayanan, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kelas Ditempati</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Reg_KelasDitempati, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Reg_KelasDitempati, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                            <label class="checkbox-inline" for="TitipKelas">
                                                @Html.CheckBoxFor(model => model.TitipKelas) Titip Kelas
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="RawatGabung" class="pointer" />Rawat Gabung
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Section</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.SectionID, new List<SelectListItem>(), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kamar / No Bed</label>
                                        <div class="col-md-6 margin-bottom-md">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button data-toggle="modal" onclick="changelookupkamarmodel()" data-target="#@modalidkamar"
                                                            class="btn btn-success input-lookup" type="button">
                                                        <i class="glyphicon glyphicon-search"></i>
                                                    </button>
                                                </span>
                                                @Html.EditorFor(model => model.NoKamar, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.NoKamar, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.EditorFor(model => model.NoBed, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Dokter</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Dokter_ID, new List<SelectListItem>(), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Dokter_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title"> Asal Pasien <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                    </div>
                    <div id="panel_@(formName)_asal" class="collapse in">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <!-- Rujukan-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        @Html.CheckBoxFor(model => model.Rujukan, new { onclick = "checkrujukan()" })
                                        Rujukan
                                    </label>
                                    <!-- Pasien Pribadi -->
                                    <label class="col-md-3 control-label">
                                        @Html.CheckBoxFor(model => model.PasienPribadi, new { onclick = "checkpasienpribadi()" })
                                        Pasien Pribadi
                                    </label>
                                </div>

                                <!--LookUp Vendor Pengirim-->
                                <div class="form-group">
                                    <label class="control-label col-md-3">Vendor Pengirim</label>
                                    <div class="col-md-9">
                                        <!-- input -->
                                        @Html.DropDownListFor(model => model.VendorID, new List<SelectListItem>(), new { @class = "form-control", @disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.VendorID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <hr />
                                <!-- Memo -->
                                <div class="form-group">
                                    <label class="col-md-3">Memo</label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Memo, htmlAttributes: new { @class = "form-control", @rows = "3" })
                                        @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- Cara Datang -->
                                <div class="form-group">
                                    <label class="col-md-3">Cara Datang</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.CaraDatang, StaticModel.SelectListCaraDatang, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CaraDatang, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Panel Asuransi -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title"> Penanggung Kedua <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
                    </div>
                    <div id="panel_@(formName)_asuransi" class="collapse in">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <!-- No SJP -->
                                <div class="form-group">
                                    <label class="col-md-3">No SJP</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.NoSJP, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.NoSJP, "", new { @class = "text-danger" })
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" onclick="" disabled>
                                                    Create SJP
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- No SEP -->
                                <div class="form-group">
                                    <label class="col-md-3">No SEP</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.NoSEP, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.NoSEP, "", new { @class = "text-danger" })
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" id="btnSEP" type="button" onclick="modalsep()" disabled>
                                                    Create SEP
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        @Html.CheckBoxFor(model => model.PasienAsuransi, new { onclick = "checkasuransi()" })
                                        Pasien Asuransi
                                    </label>
                                </div>

                                <!--Asuransi-->
                                <div class="form-group">
                                    <label class="control-label col-md-3">Company</label>
                                    <div class="col-md-9">
                                        <!-- input -->
                                        @Html.DropDownListFor(model => model.AsuransiID, new List<SelectListItem>(), new { @class = "form-control", @disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.AsuransiID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- No Kartu Asuransi -->
                                <div class="form-group">
                                    <label class="col-md-3">No Kartu Asuransi</label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.NoKartuAsuransi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.NoKartuAsuransi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- Pasien Paket-->
                                <div class="form-group hidden">
                                    <label>Pasien Paket</label>
                                    <label class="col-md-3 control-label">
                                        @Html.CheckBoxFor(model => model.PasienPaket, new { onclick = "checkpaket()" })
                                        Pasien Paket
                                    </label>
                                    <!--LookUp Pasien Paket-->
                                    <div class="col-md-3 margin-bottom-md">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <!-- button -->
                                                <button data-toggle="modal" data-target="#@modalid_paket" id="btnpaket"
                                                        class="btn btn-success input-lookup" type="button" disabled="disabled">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                            <!-- input -->
                                            @Html.EditorFor(model => model.PaketJasa_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.PaketJasa_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- Paket -->
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Paket, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Paket, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    }
</div>
<!-- Modal SEP-->
<div class="modal fade" id="modalsep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="urlBridging"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closeSEP()">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="msgPasienKTP" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <p id="id_msg_text">Apakah anda yakin mengubah?</p>
            </div>
            <div class="modal-footer" id="id_footer_msg">
                <button type="button" class="btn btn-success" onclick="pasienktpYa()">Ya</button>
                <button type="button" class="btn btn-default" onclick="pasienktpTidak()">Tidak</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Look Pasien -->
@Html.Partial("_LookUpPasienRegistrasi", Model, new ViewDataDictionary {
{ "target", target_pasien },
{ "modalid", modalid_pasien },
{ "targetForm", targetForm },
{ "modalName", modalName_pasien },
{ "headerisajax", false }
})

<!-- Modal Look Up Kartu -->
@Html.Partial("_LookUpKartu", Model, new ViewDataDictionary {
{ "target", targetkartu },
{ "modalid", modalnomoranggota },
{ "targetForm", targetFormkartu },
{ "modalName", modalNameKartu },
{ "headerisajax", ViewBag.IsAjaxRequest }
})

<!-- Modal Look Up Penanggung -->
@Html.Partial("_LookUpPenanggung", Model, new ViewDataDictionary {
{ "target", target_penanggung },
{ "modalid", modalid_penanggung },
{ "targetForm", targetForm },
{ "modalName", modalName_penanggung },
{ "headerisajax", false }
})

<!-- Modal Look Up Tujuan -->
@Html.Partial("_LookUpTujuanRegistrasi", Model, new ViewDataDictionary {
{ "target", target_tujuan },
{ "modalid", modalid_tujuan },
{ "targetForm", targetForm },
{ "modalName", modalName_tujuan },
{ "headerisajax", false }
})


<!-- Modal Look Up Suplier -->
@Html.Partial("_LookUpSupplier", Model, new ViewDataDictionary {
{ "target", targetsupplier },
{ "modalid", modalsupplierid },
{ "targetForm", targetFormSupplier },
{ "modalName", modalNameSupplier },
{ "headerisajax", ViewBag.IsAjaxRequest }
})

<!-- Modal Look Up Paket -->
@Html.Partial("_LookUpPaket", Model, new ViewDataDictionary {
{ "target", target_paket },
{ "modalid", modalid_paket },
{ "targetForm", targetForm },
{ "modalName", modalName_paket },
{ "headerisajax", false }
})

<!-- Modal Look Up Kamar -->
@Html.Partial("_LookUpKamar", Model, new ViewDataDictionary {
    { "target", targetkamar },
    { "modalid", modalidkamar },
    { "targetForm", targetForm },
    { "modalName", modalNameKamar },
    { "headerisajax", false }
})
<style>
    .bg-umum {
        background: #FB8C00;
        color: #fff;
    }
</style>
<script>
    function showRiwayatKunjungan() {
        var nrm = $('#NRM').val();
        if (nrm == "") {
            alertpopup("Tidak ada pasien.", 'info');
            return;
        }
        var url = "@Url.Action("RiwayatKunjungan","Registrasi")?id=" + nrm;
        angular.element('#@formName').scope().ajaxmodal({
            url: url,
            header: 'Riwayat Kunjungan'
        });

    }

    function anggotapanjer(t) {
        if ($(t).is(":checked") == true) {
            $("#d_Kode_Customer").val("CUST-0001");
            $("#d_Nama_Customer").val("BPJS KESEHATAN");
            var datacustomer = {
                id: "CUST-0001",
                text: "BPJS KESEHATAN"
            };
            var optionCustomer = new Option(datacustomer.text, datacustomer.id, true, true);
            $("#JenisPasienKerjasamaID").val("9");
            $("#NoKartu").val("PANJER");
            $('#CompanyID').append(optionCustomer).trigger('change');
            $("#Kelas").val("11");

            $("#JenisPasienKerjasamaID").removeClass("bg-umum");
        } else {
            $("#JenisPasienKerjasamaID").addClass("bg-umum");
            $("#JenisPasienKerjasamaID").val("3");
            $("#CompanyID").empty();
            $("#NoKartu").val("");
            $("#Kelas").val("");
        }
    }

    changeJenisPasienKerjasamaID();
    function changeJenisPasienKerjasamaID() {
        var bpjs = $("#JenisPasienKerjasamaID :selected").val();
        if (bpjs == "9") {
            $("#JenisPasienKerjasamaID").removeClass("bg-umum");
            $("#d_Kode_Customer").val("CUST-0001");
            $("#d_Nama_Customer").val("BPJS KESEHATAN");
            var datacustomer = {
                id: "CUST-0001",
                text: "BPJS KESEHATAN"
            };
            var optionCustomer = new Option(datacustomer.text, datacustomer.id, true, true);
            $('#CompanyID').append(optionCustomer).trigger('change');
        } else if (bpjs == 3) {
            $("#PasienKTP").attr("readonly", true);
            $("#JenisPasienKerjasamaID").addClass("bg-umum");
        }
        else {
            $("#PasienKTP").attr("readonly", false);
            $("#JenisPasienKerjasamaID").removeClass("bg-umum");
            $("#CompanyID").empty();
            $("#Kelas").val("");
        }
    }

    function editDatapasien() {
        var nrm = $("#NRM").val();
        if (nrm == "") {
            alertpopup("Tidak ada pasien.", 'info');
            return;
        }
        var url = '@Html.Raw(Url.Action("Edit", "Pasien"))?id=' + nrm;
        angular.element('#@formName').scope().ajaxmodal({
            url: url,
            header: 'Ubah Pasien',
            target_auto_refresh: '@tableId'
        });

    }

    function checkPasienKTP() {
        $('#msgPasienKTP').modal();
    }

    function pasienktpYa() {
        if ($('#PasienKTP').is(':checked')) {
            $('#PasienKTP').prop('checked', true);
            $('#PasienKTP').val(true);
        } else {
            $('#PasienKTP').prop('checked', false);
            $('#PasienKTP').val(false);
        }
        checkkitas();
        $('#msgPasienKTP').modal('hide');
    }

    function pasienktpTidak() {
        if ($('#PasienKTP').is(':checked')) {
            $('#PasienKTP').prop('checked', false);
            $('#PasienKTP').val(false);
        } else {
            $('#PasienKTP').prop('checked', true);
            $('#PasienKTP').val(true);
        }
        $('#msgPasienKTP').modal('hide');
    }

    function closeSEP() {
        $('#modalsep').modal('hide');
        myajax({
                url: '@Url.Action("GetDataSEP", "LookUp")',
                data: {
                    nokartu: $('#NoKartu').val()
                },
                method: 'GET',
                dataType: 'JSON',
                success: function (dt) {
                    if (!dt.IsSuccess)
                        alertpopup(dt.Message, 'danger');
                    else {
                        $('#NoSep').val(dt.Data);
                    }
                }
            });
    }

    function modalsep() {
        var url = '@ViewBag.Url';
        var nokartu = $('#NoKartu').val();
        var nrm = $('#NRM').val();
        var sectionid = $('#SectionID').val();
        if (nokartu === null || nokartu === '') {
            alertpopup('No Kartu harus diisi', 'warning');
        } else if (nrm === null || nrm === '') {
            alertpopup('Pasien harus diisi', 'warning');
        } else if (sectionid === null || sectionid === '') {
            alertpopup('Section harus diisi', 'warning');
        } else {
            var r = '';
            r += '<iframe src="'+ url + "/SEP/CariSEP?nokartu=" + nokartu + "&nrm=" + nrm + "&section="+sectionid+'" style="width:100%; height:600px"></iframe>';
            $('#urlBridging').html(r);
            $('#modalsep').modal();
        }
    }
    function createpasien() {
        if ($('#PasienBaru').is(':checked')) {
            $('#btnpasienbaru').click();
        } else {
            $('#btnpasien').removeAttr('disabled');
            $('#NRM').attr('readonly', false);
            $('#btnreservasi').removeAttr('disabled');
            $('#NoReservasi').attr('readonly', false);
        }
    }

    function formatnrm(t, e) {
        var nrm = document.getElementById(t.id);
        if ((nrm.value.length == 2 || nrm.value.length == 5) && (e.type == "keypress" && e.key == ".")) {

            return false
        } else {

            if (nrm.value.length == 2 || nrm.value.length == 5)
                nrm.value = nrm.value + ".";
        }
    }

    function copyNRM() {
        var range = document.createRange();
        var tmpElem = $('<div>');
        tmpElem.css({
            position: "absolute",
            left: "-1000px",
            top: "-1000px",
        });
        tmpElem.text($('#@formName').find('#NRM').val());
        $("body").append(tmpElem);
        range.selectNodeContents(tmpElem.get(0));
        var selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        success = document.execCommand("copy", false, null);
        try {
            success = document.execCommand("copy", false, null);
        }
        catch (e) {
            copyToClipboardFF(input.val());
        }
        if (success) {
            tmpElem.remove();
        }
    }

    function pasienBON(nrm) {
        //show modal pasien BON
        myajax({
            url: '@Url.Action("checkPasienBON", "Registrasi")',
            data: {
                nrm: nrm,
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                console.log(dt.isSuccess);
                if (dt.isSuccess) {
                    $("#modal_pasienBON").modal();
                } else {

                }
            }
        });
    }


    function getdatapasien() {
        var j_this = $("#@nameof(Model.NRM)");
        var j_form = j_this.closest('form');
        var target = {
            NamaPasien: $("#@nameof(Model.NamaPasien)"),
            Alamat: $("#@nameof(Model.Alamat)"),
            Phone: $("#@nameof(Model.Phone)"),
            JenisKelamin: $('#@nameof(Model.JenisKelamin)'),
            JenisPasienKerjasamaID: $("#@nameof(Model.JenisPasienKerjasamaID)"),
            NoKartu: $('#@nameof(Model.NoKartu)'),
            Kelas: $('#@nameof(Model.Kelas)'),
            NamaPerusahaan: $("#@nameof(Model.NamaPerusahaan)"),
            Umur: $('#@nameof(Model.Umur)'),
            PenanggungNRM : $('#@nameof(Model.PenanggungNRM)'),
            PenanggungNama : $('#@nameof(Model.PenanggungNama)'),
            PenanggungAlamat : $('#@nameof(Model.PenanggungAlamat)'),
            PenanggungPhone : $('#@nameof(Model.PenanggungPhone)'),
            PenanggungHubungan : $('#@nameof(Model.PenanggungHubungan)'),
            PasienRS: $('#@nameof(Model.PasienRS)'),
            PasienKTP: $('#@nameof(Model.PasienKTP)'),
            CompanyID: $('#@nameof(Model.CompanyID)'),
            KelasID: $('#@nameof(Model.Kelas)'),
            KelasID: $('#@nameof(Model.KelasAsal)')
         };

        if ($('#@nameof(Model.PasienKTP)').val() == "true") {
            $('#@nameof(Model.PasienKTP)').prop('checked', true);
            checkkitas();
        } else {
            $('#@nameof(Model.PasienKTP)').prop('checked', false);
            checkkitas();
        }

        var url = '@Url.Action("GetDataPasienRegistrasi", "LookUp")';
        var parameter = {
            id: $("#@nameof(Model.NRM)")
        };
        $.each(parameter, function (index, value) {
            parameter[index] = j_form.find(value).val();
        });
        myajax({
            url: url,
            data: parameter,
            method: 'GET',
            dataType: 'json',
            beforeSend: function () {
                j_this.attr('disabled', 'disabled');
                $('#_loading').css('display', 'none');
            },
            complete: function () {
                j_this.removeAttr('disabled');
                getdisableform();
                getpenanggungpasiensebelum();
                $('#@nameof(Model.CompanyID)').blur();
            },
            success: function (data) {
                if (data.IsSuccess == false) {
                    alertpopup(data.Message, data.Status);
                    j_this.val('');
                    $.each(target, function (index, value) {
                        if (index == 'PasienRS' || index == 'PasienKTP') {
                            j_form.find(value).prop('checked', false);
                            checkpenanggung();
                        } else {
                            j_form.find(value).val('');
                        }
                    });
                }
                else {
                    $.each(target, function (index, value) {

                        if (index == 'PasienRS' || index == 'PasienKTP') {
                            j_form.find(value).prop('checked', data[index]);
                            checkpenanggung();
                        } else {
                            var _input = j_form.find(value);
                                _input.val(data[index]);
                        }
                    });

                    $('#@nameof(Model.Kelas)').val(data['KelasID']);
                    $('#@nameof(Model.KelasAsal)').val(data['KelasID']);

                    if (data.Kode_Customer != null) {
                        var datacustomer = {
                            id: data.Kode_Customer,
                            text: data.Nama_Customer
                        };
                        var optionCustomer = new Option(datacustomer.text, datacustomer.id, false, false);
                        $('#CompanyID').append(optionCustomer).trigger('change');
                    }
                }
            }
        });
    }

    function reset_() {
        $('#@nameof(Model.PasienBaru)').removeAttr('disabled');
        $('#btnpasien').removeAttr('disabled');
        $('#@nameof(Model.NRM)').attr('readonly', false);
        $('#btnreservasi').removeAttr('disabled');
        $('#@nameof(Model.NoReservasi)').attr('readonly', false);
    }

    function getdisableform() {
        if ($('#@nameof(Model.PasienBaru)').is(':checked')) {
            $('#btnpasien').attr('disabled', 'disabled');
            $('#@nameof(Model.NRM)').attr('readonly', true);
            $('#@nameof(Model.NoReservasi)').attr('readonly', true);
        }
    }

    function checkkitas() {
        if ($('#@nameof(Model.JenisPasienKerjasamaID)').val() === '4' && $('#@nameof(Model.PasienKTP)').is(':checked')) {
            $('#kitas').removeClass('hidden');
            $('#nonkitas').addClass('hidden');
        }
        else {
            if ($('#@nameof(Model.JenisPasienKerjasamaID)').val() === '4') {
                $('#nonkitas').removeClass('hidden');
            }
            else {
                $('#nonkitas').addClass('hidden');
            }
            $('#kitas').addClass('hidden');
        }
    }

    var inputperusahaan = $('#@formName #@nameof(Model.CompanyID)');
    inputperusahaan.select2({
        ajax: {
            url: "@Url.Action("ListPerusahaan", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama_Customer',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, $('#JenisPasienKerjasamaID option:selected').val(), '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Customer, text: value.Nama_Customer } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

   function anggotabaru(t)
    {
        if ($('#AnggotaBaruReg').is(':checked')) {
            if ($('#@(nameof(Model.NRM))').val() == '') {
                alertpopup('Pasien harus diisi', 'warning');
                t.checked = false;
            } else if ($('#@(nameof(Model.CompanyID))').val() == '' || $('#@(nameof(Model.CompanyID))').val() == null) {
                alertpopup('Perusahaan harus diisi', 'warning');
                t.checked = false;
            }else {
                var url = '@Html.Raw(Url.Action("Create", "Anggota", new { nrm = "@nrm", namapasien = "@namapasien", perusahaan = "@perusahaan" }))';
                url = url.replace('%40nrm', $('#@(nameof(Model.NRM))').val())
                    .replace('%40namapasien', $('#@(nameof(Model.NamaPasien))').val())
                    .replace('%40perusahaan', $('#@(nameof(Model.CompanyID))').val());
                angular.element('#@formName').scope().ajaxmodal({
                    url: url,
                    header: 'Anggota Baru',
                    target_auto_refresh: '@tableId'
                });
            }
        }
    }

    function copyalamat() {
        if ($('#checkalamat').is(':checked')) {
            var x = $('#@nameof(Model.Alamat)').val();
            $('#@nameof(Model.PenanggungAlamat)').val(x);
         } else
            $('#@nameof(Model.PenanggungAlamat)').val('');
    }

    function autoPenanggung() {
        $('#PasienRS')[0].checked = true;
        checkpenanggungclear();
        $('#PenanggungNRM').val($('#NRM').val());
        $('#PenanggungNRM').trigger('onblur');
        $('#PenanggungHubungan').val('Pasien Sendiri');
    }

    function checkpenanggungclear() {
        if ($('#PasienRS').is(':checked')) {
            $('#penanggung').removeAttr('disabled');
            $('#PenanggungNRM').removeAttr('readonly');
            $('#PenanggungNRM').removeAttr('disabled');
            $('#PenanggungNama').attr('readonly', 'readonly');
            $('#PenanggungAlamat').attr('readonly', 'readonly');
            $('#PenanggungPhone').attr('readonly', 'readonly');
            $('#PenanggungNRM').val('');
            $('#PenanggungNama').val('');
            $('#PenanggungAlamat').val('');
            $('#PenanggungPhone').val('');
            $('#PenanggungHubungan').val('');
        } else {
            $('#penanggung').attr('disabled', 'disabled');
            $('#PenanggungNRM').attr('readonly', 'readonly');
            $('#PenanggungNama').removeAttr('readonly');
            $('#PenanggungAlamat').removeAttr('readonly');
            $('#PenanggungPhone').removeAttr('readonly');
            $('#PenanggungNRM').val('');
            $('#PenanggungNama').val('');
            $('#PenanggungAlamat').val('');
            $('#PenanggungPhone').val('');
            $('#PenanggungHubungan').val('');
        }
    }

    function getdatapenanggung(t) {
         if ($(t).prop('readonly')) return;
        var j_this = $("#@nameof(Model.PenanggungNRM)");
        var j_form = j_this.closest('form');
        var target = {
            PenanggungNama: $("#@nameof(Model.PenanggungNama)"),
            PenanggungAlamat: $("#@nameof(Model.PenanggungAlamat)"),
            PenanggungPhone: $("#@nameof(Model.PenanggungPhone)")
        };
        if ($("#@nameof(Model.PenanggungNRM)").val() == "") {
            $.each(target, function (index, value) {
                j_form.find(value).val('');
            });
            return;
        }
        var url = '@Url.Action("GetDataPenanggung", "LookUp")';
        var parameter = {
            id: $("#@nameof(Model.PenanggungNRM)")
        };
        $.each(parameter, function (index, value) {
            parameter[index] = j_form.find(value).val();
        });
        myajax({
            url: url,
            data: parameter,
            method: 'GET',
            dataType: 'json',
            beforeSend: function () {
                j_this.attr('disabled', 'disabled');
            },
            complete: function () {
                j_this.removeAttr('disabled');
            },
            success: function (data) {
                if (data.IsSuccess == false) {
                    alertpopup(data.Message, data.Status);
                    j_this.val('');
                    $.each(target, function (index, value) {
                        j_form.find(value).val('');
                    });
                }
                else {
                    $.each(target, function (index, value) {
                        var _input = j_form.find(value);
                            _input.val(data[index]);
                    });
                }
            }
        });
    }

    function copyphone() {
        if ($('#checkphone').is(':checked')) {
            var x = $('#@nameof(Model.Phone)').val();
            $('#@nameof(Model.PenanggungPhone)').val(x);
         } else
            $('#@nameof(Model.PenanggungPhone)').val('');
    }

    function getpenanggungpasiensebelum() {
        var j_this = $("#@nameof(Model.NRM)");
        var j_form = j_this.closest('form');
        var target = {
            PenanggungNRM: $('#@nameof(Model.PenanggungNRM)'),
            PenanggungNama: $("#@nameof(Model.PenanggungNama)"),
            PenanggungAlamat: $("#@nameof(Model.PenanggungAlamat)"),
            PenanggungPhone: $("#@nameof(Model.PenanggungPhone)"),
            PenanggungHubungan: $("#@nameof(Model.PenanggungHubungan)"),
            PasienRS: $("#@nameof(Model.PasienRS)"),
        };
        if ($("#@nameof(Model.NRM)").val() == "") {
            $.each(target, function (index, value) {
                j_form.find(value).val('');
            });
            return;
        }
        var url = '@Url.Action("GetDataPenanggungSebelum", "LookUp")';
        var parameter = {
            id: $("#@nameof(Model.NRM)")
        };
        $.each(parameter, function (index, value) {
            parameter[index] = j_form.find(value).val();
        });
        myajax({
            url: url,
            data: parameter,
            method: 'GET',
            dataType: 'json',
            beforeSend: function () {
                j_this.attr('disabled', 'disabled');
            },
            complete: function () {
                j_this.removeAttr('disabled');
            },
            success: function (data) {
                if (data.IsSuccess == false) {
                    $.each(target, function (index, value) {
                        if (index == 'PasienRS') {
                            j_form.find(value).prop('checked', false);
                            checkpenanggung();
                        } else {
                            j_form.find(value).val('');
                        }
                    });
                }
                else {
                    $.each(target, function (index, value) {
                        if (index == 'PasienRS') {
                            j_form.find(value).prop('checked', data[index]);
                            checkpenanggung();
                        } else {
                            var _input = j_form.find(value);
                            _input.val(data[index]);
                        }
                    });
                }
            }
        });
    }


    function checkpenanggung() {
        if ($('#@nameof(Model.PasienRS)').is(':checked')) {
            $('#penanggung').removeAttr('disabled');
            $('#@nameof(Model.PenanggungNRM)').removeAttr('readonly');
            $('#@nameof(Model.PenanggungNama)').attr('readonly', 'readonly');
            $('#@nameof(Model.PenanggungAlamat)').attr('readonly', 'readonly');
            $('#@nameof(Model.PenanggungPhone)').attr('readonly', 'readonly');
        } else {
            $('#penanggung').attr('disabled', 'disabled');
            $('#@nameof(Model.PenanggungNRM)').attr('readonly', 'readonly');
            $('#@nameof(Model.PenanggungNama)').removeAttr('readonly');
            $('#@nameof(Model.PenanggungAlamat)').removeAttr('readonly');
            $('#@nameof(Model.PenanggungPhone)').removeAttr('readonly');
        }
    }

    function checkrujukan() {
        $('#VendorID').removeAttr('disabled');
        $('#PasienPribadi').prop('checked', false);
    }

    function checkpasienpribadi() {
        $('#VendorID').attr('disabled', 'disabled');
        $('#VendorID').val(null).trigger('change');
        $('#Rujukan').prop('checked', false);
    }

    function checkasuransi() {
        if ($('#PasienAsuransi').is(':checked')) {
            $('#AsuransiID').removeAttr('disabled');
            $('#NoKartuAsuransi').removeAttr('readonly');
        } else {
            $('#AsuransiID').attr('disabled', 'disabled');
            $('#AsuransiID').val('');
            $('#PayorCompany').val('');
            $('#NoKartuAsuransi').attr('readonly', 'readonly');
            $('#AsuransiID').val(null).trigger('change');
        }
    }

    function checkpaket() {
        if ($('#PasienPaket').is(':checked')) {
            $('#btnpaket').removeAttr('disabled');
        } else {
            $('#btnpaket').attr('disabled','disabled');
        }
    }

</script>
<script>
     $('#@formName #VendorID').select2({
        ajax: {
            url: "@Url.Action("ListVendor", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama_Supplier',
                    sortByType: 'ASC',
                    pageSize: 5,
                    pageIndex: params.page || 0,
                    filter: [params.term, '', '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Supplier, text: value.Nama_Supplier } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #AsuransiID').select2({
        ajax: {
            url: "@Url.Action("ListAsuransi", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaPerusahaan',
                    sortByType: 'ASC',
                    pageSize: 5,
                    pageIndex: params.page || 0,
                    filter: [params.term, '', '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.CompanyID, text: value.NamaPerusahaan } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #Dokter_ID').select2({
        ajax: {
            url: "@Url.Action("ListDokter", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 10,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

     $('#@formName #SectionID').select2({
        ajax: {
            url: "@Url.Action("ListSectionRI", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'SectionName',
                    sortByType: 'ASC',
                    pageSize: 10,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.SectionID, text: value.SectionName } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #SectionID').on('change', function () {
        checkKamar();
    });

    function checkKamar(){
        angular.element('#@modalidkamar').scope().filter[2] = $('#SectionID option:selected').val();
        angular.element('#@modalidkamar').scope().getdatas();
    }

   function changelookupkamarmodel() {
        var c = angular.element('#@modalidkamar');
        c.scope().filter[2] = $('#@nameof(Model.SectionID)').val();
        c.scope().filter[4] = $('#@nameof(Model.Reg_KelasDitempati)').val();
        c.scope().getdatas();
        if ($('#@nameof(Model.RawatGabung)').is(':checked') == true) {
            var rawatgabung = '1';
        } else {
            var rawatgabung = '0';
        }
        c.scope().filter[5] = rawatgabung;
    }

    function changelookupanggota() {
        angular.element('#@modalnomoranggota').scope().filter[4] = $('#Kode_Customer').val();
        angular.element('#@modalnomoranggota').scope().getdatas();
    }

    function checkSEP() {
        if ($('#Kode_Customer').val() == 'CUST0001' && $('#JenisPasienKerjasamaID').val() === '9') {
            $('#NoSep').removeAttr('readonly');
             $("#@nameof(Model.NoSEP)").prop('required', true);
        }
        else
        {
            $('#NoSep').attr('readonly', 'readonly');
            $("#@nameof(Model.NoSEP)").prop('required', false);
        }
    }

    function tipepasien() {
        checkkitas();
        checkSEP();
        if ($('#JenisPasienKerjasamaID').val() === '3' || $('#JenisPasienKerjasamaID').val() === '4') {
            $('#NoKartu').attr('disabled', 'disabled');
            $('#Kode_Customer').attr('disabled', 'disabled');
            $('#Nama_Customer').attr('disabled', 'disabled');
            $('#btnnoanggota').attr('disabled', 'disabled');
            $('#AnggotaBaruReg').attr('disabled', 'disabled');
            $('#AnggotaBaruReg').prop('checked', false);
            $('#NoKartu').val('');
            $('#Kode_Customer').val(null).trigger('change');
            $('#btnSEP').attr('disabled', 'disabled');
        } else {
            if ($('#JenisPasienKerjasamaID').val() === '9') {
                $('#btnSEP').removeAttr('disabled', 'disabled');
            } else {
                $('#btnSEP').attr('disabled', 'disabled');
            }
            $('#NoKartu').removeAttr('disabled');
            $('#Kode_Customer').removeAttr('disabled');
            $('#Nama_Customer').removeAttr('disabled');
            $('#btnnoanggota').removeAttr('disabled');
            $('#AnggotaBaruReg').removeAttr('disabled');
        }

    }
</script>