﻿@using Registrasi.Models
@model ManageSEPViewModel
@{
    var controllerName = "ManageSEP";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateSEP(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(mdoel => Model.NoReg)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="col-md-3">No SEP</label>
                <div class="col-md-9">
                    <div class="input-group">
                        @Html.EditorFor(model => model.NoSEP, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NoSEP, "", new { @class = "text-danger" })
                        <span class="input-group-btn">
                            <button class="btn btn-success" id="btnSEP" type="button" onclick="modalsep()">
                                Create SEP
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<div class="modal fade" id="modalsep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="urlBridging"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closeSEP()">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnSEP').click();
    });
    </text>
    }
    else
    {
        @:$('#btnSEP').click();
    }

    function oncompletecreateSEP(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            alertpopup(result.Message, result.Status);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() === "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table || undefined !== undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                else inputclear(formname);

                location.reload();
            }
        } catch (ex) {
            alertpopup(xhr.responseText || 'Server Error', 'danger');
        }
    }

    function modalsep() {
        var url = '@ViewBag.Url';
        var nokartu = '@Model.NoKartu';
        var nrm = '@Model.NRM';
        var sectionid = '@Model.SectionID';
        if (nokartu === null || nokartu === '') {
            alertpopup('No Kartu harus diisi', 'warning');
        } else if (nrm === null || nrm === '') {
            alertpopup('Pasien harus diisi', 'warning');
        } else if (sectionid === null || sectionid === '') {
            alertpopup('Section harus diisi', 'warning');
        } else {
            var r = '';
            r += '<iframe src="'+ url + "/SEP/CariSEP?nokartu=" + nokartu + "&nrm=" + nrm + "&section="+sectionid+'" style="width:100%; height:600px"></iframe>';
            $('#urlBridging').html(r);
            $('#modalsep').modal();
        }
    }

    function closeSEP() {
        $('#modalsep').modal('hide');
        var nokartu = '@Model.NoKartu';
        myajax({
                url: '@Url.Action("GetDataSEP", "LookUp")',
                data: {
                    nokartu: nokartu
                },
                method: 'GET',
                dataType: 'JSON',
                success: function (dt) {
                    if (!dt.IsSuccess)
                        alertpopup(dt.Message, 'danger');
                    else {
                        $('#@formName #NoSEP').val(dt.Data);
                    }
                }
            });
    }
</script>