﻿@using Registrasi.Models
@using iHos.MVC.Converter
@{
    var controllerName = "JadwalKontrol";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}";
    var tableId = $"table_{controllerName}";
    var item = new JadwalKontrolViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.NRM);
    column[3] = nameof(item.Nama);
    column[4] = nameof(item.Alamat);
    column[5] = nameof(item.SectionName);
    column[6] = nameof(item.Keterangan);
    column[7] = nameof(item.NamaDOkter);
    column[8] = nameof(item.KedatanganPasien);
    column[9] = nameof(item.SudahReservasi);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        text-align: center;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        text-align: center;
    }
</style>

<div class="wall" ng-controller="table" id="@formName"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[22]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[23]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[24]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <select class="form-control input-xs" ng-model="filter[25]" ng-change="getdatas()">
                            <option value="">All</option>
                            <option value="1">Belum Validasi</option>
                            <option value="2">Belum Reservasi</option>
                            <option value="3">Sudah Reservasi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th>Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Bukti</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Alamat</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Section</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Waktu</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Dokter</th>

                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td></td>
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">
                        <td>
                            <a ng-if="!data.@(column[8])" onclick="validasiclick(this)"
                               title="Validasi" data-id="{{data.@column[0]}}" class="label label-success">
                                Belum Validasi
                            </a>
                            <a href="@Url.Action("Create","Reservasi")?id={{ data.@column[0] }}" class="label label-warning"
                               ng-if="data.@(column[8]) && !data.@(column[9])" onclick="return false"
                               ng-click="edit(data.@column[0], '@Url.Action("Create","Reservasi")')" title="Reservasi">
                                Belum Reservasi
                            </a>
                            <a ng-if="data.@(column[9])" class="label label-primary">
                                Sudah Reservasi
                            </a>
                        </td>
                        <!-- Table Result -->
                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td>{{data.@(column[3])}}</td>
                        <td>{{data.@(column[4])}}</td>
                        <td>{{data.@(column[5])}}</td>
                        <td>{{data.@(column[6])}}</td>
                        <td>{{data.@(column[7])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>
<div class="modal fade" id="modalvalidasi" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header label-danger text-default">
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-white">Validasi</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="form-group">
                        <label>Validasi kedatangan pasien?</label>
                        <input type="text" class="hidden" id="nobukti" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="validasiYa(this)">Ya</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>
<script>
    angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[22] = date;
        sc.filter[23] = date;
        sc.getdatas();
    });

    function validasiclick(t) {
        var nobukti = $(t).data('id');
        $('#nobukti').val(nobukti);
        $('#modalvalidasi').modal();
    }

    function validasiYa(t) {
        var j_t = $(t).closest('.modal');
        var nobukti = $('#nobukti').val();
        var url = '@Url.Action("Validasi")';
        myajax({
            url: url,
            data: {
                id: nobukti
            },
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.IsSuccess == true) {
                    angular.element('#@formName').scope().getdatas();
                }
                alertpopup(data.Message, data.Status);
                $('#modalvalidasi').modal('hide');
            }
        });
    }
</script>
