﻿#frm_Personal_table_detail_keluarga thead th:nth-child(1),
#frm_Personal_table_detail_keluarga tbody td:nth-child(1) {
    text-align: center;
    width: 30px;
    display: none;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(2),
#frm_Personal_table_detail_keluarga tbody td:nth-child(2) {
    text-align: center;
    width: 30px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(3),
#frm_Personal_table_detail_keluarga tbody td:nth-child(3) {
    display: none;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(4),
#frm_Personal_table_detail_keluarga tbody td:nth-child(4) {
    display: none;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(5),
#frm_Personal_table_detail_keluarga tbody td:nth-child(5) {
    min-width: 170px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(6),
#frm_Personal_table_detail_keluarga tbody td:nth-child(6) {
    min-width: 200px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(7),
#frm_Personal_table_detail_keluarga tbody td:nth-child(7) {
    min-width: 100px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(8),
#frm_Personal_table_detail_keluarga tbody td:nth-child(8) {
    min-width: 150px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(9),
#frm_Personal_table_detail_keluarga tbody td:nth-child(9) {
    min-width: 150px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(10),
#frm_Personal_table_detail_keluarga tbody td:nth-child(10) {
    min-width: 100px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(11),
#frm_Personal_table_detail_keluarga tbody td:nth-child(11) {
    min-width: 100px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(12),
#frm_Personal_table_detail_keluarga tbody td:nth-child(12) {
    min-width: 150px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(13),
#frm_Personal_table_detail_keluarga tbody td:nth-child(13) {
    min-width: 170px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(14),
#frm_Personal_table_detail_keluarga tbody td:nth-child(14) {
    min-width: 150px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(15),
#frm_Personal_table_detail_keluarga tbody td:nth-child(15) {
    min-width: 200px;
}

#frm_Personal_table_detail_keluarga thead th:nth-child(16),
#frm_Personal_table_detail_keluarga tbody td:nth-child(16) {
    min-width: 150px;
}

/*========================================================================*/

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(1),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(1) {
    text-align: center;
    width: 30px;
    display: none;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(2),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(2) {
    text-align: center;
    width: 30px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(3),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(3) {
    display: none;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(4),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(4) {
    display: none;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(5),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(5) {
    min-width: 70px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(6),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(6) {
    min-width: 170px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(7),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(7) {
    min-width: 200px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(8),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(8) {
    min-width: 150px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(9),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(9) {
    min-width: 150px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(10),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(10) {
    min-width: 280px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(11),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(11) {
    min-width: 100px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(12),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(12) {
    min-width: 150px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(13),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(13) {
    min-width: 150px;
}

#frm_Personal_table_detail_RiwayatPendidikan thead th:nth-child(14),
#frm_Personal_table_detail_RiwayatPendidikan tbody td:nth-child(14) {
    text-align: center;
    min-width:70px;
}

/*========================================================================*/

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(1),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(1) {
    text-align: center;
    width: 30px;
    display: none;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(2),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(2) {
    text-align: center;
    width: 30px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(3),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(3) {
    display: none;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(4),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(4) {
    display: none;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(5),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(5) {
    min-width: 170px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(6),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(6) {
    min-width: 200px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(7),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(7) {
    min-width: 150px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(8),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(8) {
    min-width: 150px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(9),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(9) {
    min-width: 280px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(10),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(10) {
    min-width: 100px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(11),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(11) {
    min-width: 150px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(12),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(12) {
    min-width: 150px;
}

#frm_Personal_table_detail_RiwayatKarir thead th:nth-child(13),
#frm_Personal_table_detail_RiwayatKarir tbody td:nth-child(13) {
    text-align: center;
    min-width: 70px;
}

/*========================================================================*/

#frm_Personal_table_detail_RiwayatStatus thead th:nth-child(1),
#frm_Personal_table_detail_RiwayatStatus tbody td:nth-child(1) {
    text-align: center;
    width: 30px;
    display: none;
}

#frm_Personal_table_detail_RiwayatStatus thead th:nth-child(2),
#frm_Personal_table_detail_RiwayatStatus tbody td:nth-child(2) {
    text-align: center;
    width: 30px;
}

#frm_Personal_table_detail_RiwayatStatus thead th:nth-child(3),
#frm_Personal_table_detail_RiwayatStatus tbody td:nth-child(3) {
    display: none;
}

#frm_Personal_table_detail_RiwayatStatus thead th:nth-child(4),
#frm_Personal_table_detail_RiwayatStatus tbody td:nth-child(4) {
    display: none;
}

#frm_Personal_table_detail_RiwayatStatus thead th:nth-child(5),
#frm_Personal_table_detail_RiwayatStatus tbody td:nth-child(5) {
    width: 200px;
}

#frm_Personal_table_detail_RiwayatStatus thead th:nth-child(6),
#frm_Personal_table_detail_RiwayatStatus tbody td:nth-child(6) {
    width: 100px;
}

#frm_Personal_table_detail_RiwayatStatus thead th:nth-child(7),
#frm_Personal_table_detail_RiwayatStatus tbody td:nth-child(7) {
    width: 100px;
}

#frm_Personal_table_detail_RiwayatStatus thead th:nth-child(8),
#frm_Personal_table_detail_RiwayatStatus tbody td:nth-child(8) {
}

/*========================================================================*/

#frm_Personal_table_detail_EmergencyContact thead th:nth-child(1),
#frm_Personal_table_detail_EmergencyContact tbody td:nth-child(1) {
    text-align: center;
    width: 30px;
    display: none;
}

#frm_Personal_table_detail_EmergencyContact thead th:nth-child(2),
#frm_Personal_table_detail_EmergencyContact tbody td:nth-child(2) {
    text-align: center;
    width: 30px;
}

#frm_Personal_table_detail_EmergencyContact thead th:nth-child(3),
#frm_Personal_table_detail_EmergencyContact tbody td:nth-child(3) {
    display: none;
}

#frm_Personal_table_detail_EmergencyContact thead th:nth-child(4),
#frm_Personal_table_detail_EmergencyContact tbody td:nth-child(4) {
    display: none;
}

#frm_Personal_table_detail_EmergencyContact thead th:nth-child(5),
#frm_Personal_table_detail_EmergencyContact tbody td:nth-child(5) {
    min-width: 170px;
}

#frm_Personal_table_detail_EmergencyContact thead th:nth-child(6),
#frm_Personal_table_detail_EmergencyContact tbody td:nth-child(6) {
    min-width: 200px;
}

#frm_Personal_table_detail_EmergencyContact thead th:nth-child(7),
#frm_Personal_table_detail_EmergencyContact tbody td:nth-child(7) {
    min-width: 150px;
}

#frm_Personal_table_detail_EmergencyContact thead th:nth-child(8),
#frm_Personal_table_detail_EmergencyContact tbody td:nth-child(8) {
    min-width: 150px;
}

/*========================================================================*/

#frm_Personal_table_detail_Posisi thead th:nth-child(1),
#frm_Personal_table_detail_Posisi tbody td:nth-child(1) {
    text-align: center;
    width: 30px;
    display: none;
}

#frm_Personal_table_detail_Posisi thead th:nth-child(2),
#frm_Personal_table_detail_Posisi tbody td:nth-child(2) {
    text-align: center;
    width: 30px;
}

#frm_Personal_table_detail_Posisi thead th:nth-child(3),
#frm_Personal_table_detail_Posisi tbody td:nth-child(3) {
    display: none;
}

#frm_Personal_table_detail_Posisi thead th:nth-child(4),
#frm_Personal_table_detail_Posisi tbody td:nth-child(4) {
}

#frm_Personal_table_detail_Posisi thead th:nth-child(5),
#frm_Personal_table_detail_Posisi tbody td:nth-child(5) {
    width: 90px;
    text-align: center;
}

/*========================================================================*/

#frm_Personal_table_detail_KontrakKerja thead th:nth-child(1),
#frm_Personal_table_detail_KontrakKerja tbody td:nth-child(1) {
    text-align: center;
    width: 30px;
    display: none;
}

#frm_Personal_table_detail_KontrakKerja thead th:nth-child(2),
#frm_Personal_table_detail_KontrakKerja tbody td:nth-child(2) {
    text-align: center;
    width: 30px;
}

#frm_Personal_table_detail_KontrakKerja thead th:nth-child(3),
#frm_Personal_table_detail_KontrakKerja tbody td:nth-child(3) {
    display: none;
}

#frm_Personal_table_detail_KontrakKerja thead th:nth-child(4),
#frm_Personal_table_detail_KontrakKerja tbody td:nth-child(4) {
    display: none;
}

#frm_Personal_table_detail_KontrakKerja thead th:nth-child(5),
#frm_Personal_table_detail_KontrakKerja tbody td:nth-child(5) {
}

/*========================================================================*/

#frm_Personal_table_detail_SuratTugas thead th:nth-child(1),
#frm_Personal_table_detail_SuratTugas tbody td:nth-child(1) {
    text-align: center;
    width: 30px;
    display: none;
}

#frm_Personal_table_detail_SuratTugas thead th:nth-child(2),
#frm_Personal_table_detail_SuratTugas tbody td:nth-child(2) {
    text-align: center;
    width: 30px;
}

#frm_Personal_table_detail_SuratTugas thead th:nth-child(3),
#frm_Personal_table_detail_SuratTugas tbody td:nth-child(3) {
    display: none;
}

#frm_Personal_table_detail_SuratTugas thead th:nth-child(4),
#frm_Personal_table_detail_SuratTugas tbody td:nth-child(4) {
    display: none;
}

#frm_Personal_table_detail_SuratTugas thead th:nth-child(5),
#frm_Personal_table_detail_SuratTugas tbody td:nth-child(5) {
}

/*================================================*/

.form-vertical .form-horizontal .control-group > label {
    text-align: left;
}

.form-horizontal .form-vertical .control-group > label {
    float: none;
    padding-top: 0;
    text-align: left;
}

.form-horizontal .form-vertical .controls {
    margin-left: 0;
}

.form-horizontal .form-vertical.form-actions,
.form-horizontal .form-vertical .form-actions {
    padding-left: 20px;
}

.control-group .control-group {
    margin-bottom: 0;
}

.form-vertical .control-label {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
}