﻿@using Registrasi.Models
@model StatusKamarViewModel
@{
    var controllerName = "StatusKamar";
    ViewBag.Title = "Status Kamar";
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}

<div class="wall">
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.NRM))
        {
            <div class="col-md-4">
                <dl class="dl-horizontal">

                    <dt>Section</dt>
                    <dd>@Html.DisplayFor(model => model.SectionName)</dd>

                    <dt>NRM</dt>
                    <dd>@Html.DisplayFor(model => model.NRM)</dd>

                    <dt>Nama Pasien</dt>
                    <dd>@Html.DisplayFor(model => model.NamaPasien)</dd>

                    <dt>JenisKelamin</dt>
                    <dd>@(Model.JenisKelamin == "F" ? "Perempuan" : Model.JenisKelamin == "M" ? "Laki-Laki" : Model.JenisKelamin == "O" ? "Lain" : "")</dd>

                    <dt>Alamat</dt>
                    <dd>@((Model.Alamat ?? "").Replace("\r", "<br>"))</dd>

                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">

                    <dt>JenisKerjasama</dt>
                    <dd>@Html.DisplayFor(model => model.JenisKerjasama)</dd>

                    <dt>DokterRawat</dt>
                    <dd>@Html.DisplayFor(model => model.DokterRawat)</dd>

                    <dt>Umur</dt>
                    <dd>@Html.DisplayFor(model => model.Umur) Tahun</dd>

                    <dt>Keterangan</dt>
                    <dd>@Html.DisplayFor(model => model.Keterangan)</dd>

                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">

                    <dt>Kelas</dt>
                    <dd>@Html.DisplayFor(model => model.NamaKelas)</dd>

                    <dt>No Kamar</dt>
                    <dd>@Html.DisplayFor(model => model.NoKamar)</dd>

                    <dt>No Bed</dt>
                    <dd>@Html.DisplayFor(model => model.NoBed)</dd>

                    <dt>Jml Bed</dt>
                    <dd>@Html.DisplayFor(model => model.JmlBed)</dd>

                    <dt>No Lantai</dt>
                    <dd>@Html.DisplayFor(model => model.NoLantai)</dd>

                    <dt>Status</dt>
                    <dd>@Html.DisplayFor(model => model.Status)</dd>

                </dl>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <dl class="dl-horizontal">

                    <dt>Section</dt>
                    <dd>@Html.DisplayFor(model => model.SectionName)</dd>

                    <dt>Kelas</dt>
                    <dd>@Html.DisplayFor(model => model.NamaKelas)</dd>

                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">

                    <dt>No Kamar</dt>
                    <dd>@Html.DisplayFor(model => model.NoKamar)</dd>

                    <dt>No Bed</dt>
                    <dd>@Html.DisplayFor(model => model.NoBed)</dd>

                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">

                    <dt>Jml Bed</dt>
                    <dd>@Html.DisplayFor(model => model.JmlBed)</dd>

                    <dt>No Lantai</dt>
                    <dd>@Html.DisplayFor(model => model.NoLantai)</dd>

                    <dt>Status</dt>
                    <dd>@Html.DisplayFor(model => model.Status)</dd>

                </dl>
            </div>
        }
    </div>
    @if (Model.Status != "Avalaible" || Model.Status != "Vacant Dirty")
    {
        using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
        }, new { id = formName, autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
                <hr />
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <div class="form-inline">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.NoBed)
                            @Html.HiddenFor(model => model.NoKamar)
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                @Html.DropDownListFor(model => model.IDStatus, StaticModel.ListStatusKamar, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDStatus, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save <i class="icon-floppy-disk position-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
        }
    }
</div>