﻿@using Registrasi.Models
@using iHos.MVC.Converter
@using Newtonsoft.Json
@{
    var target = ViewData["target"];
    var modalid = ViewData["modalid"].ToString();
    var targetForm = ViewData["targetForm"].ToString();
    var modalName = ViewData["modalName"].ToString();
    var headerisajax = ViewData["headerisajax"];

    var tableId = $"divtablelookup_{modalid}";
    var url_table = Url.Action("ListTujuanReservasi", "Lookup");
    var item = new TujuanReservasiViewModel();
    var columnCount = 25;
    var column = new string[columnCount];
    column[0] = nameof(item.SectionID);
    column[1] = nameof(item.NamaSection);
    column[2] = nameof(item.NamaDOkter);
    column[3] = nameof(item.Keterangan);
    column[4] = nameof(item.Tanggal);
    column[5] = nameof(item.Tanggal_View);
    column[6] = nameof(item.DokterID);
    column[7] = nameof(item.WaktuID);
    column[8] = nameof(item.Hari);
    column[9] = nameof(item.UntukTanggal);
}
<div class="modal fade" id="@modalid" tabindex="-1" role="dialog"
     data-header-ajax="@headerisajax"
     data-backdrop="static"
     ng-controller="tablelookup"
     ng-init="filterlength = @columnCount; init();
                url = '@url_table';
                targetform = '@targetForm';
                blurfirsttarget = true;
                target = @(JsonConvert.SerializeObject(target))">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="modallookuodismiss('#@modalid')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@modalName</h4>
            </div>
            <div class="modal-body">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a onclick="togglecheckbox('.filter_listTujuan')"><i class="icon-filter3"></i></a></li>
                            <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="datatable-header">
                    <div class="filter_list">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Tanggal</label>
                                <input type="date" class="form-control input-periode" ng-model="filter[22]" ng-change="getdatas()" />
                            </div>
                            <div class="form-group">
                                <span>Show:</span>
                                <select class="form-control input-xs"
                                        ng-change="getdatas()"
                                        ng-model="pagesize"
                                        ng-options="opt as opt for opt in pagesizes"></select>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>

                <!-- List -->
                <div class="dataTables_scrollHead table-responsive">
                    <table class="table table-bordered dataTable" id="@tableId">
                        <thead>
                            <tr ng-init="sort = '@column[1]'; sorttype = 'asc'">

                                <!-- Column Sort -->
                                <th ng-click="ordering($event,'@column[1]')" class="sorting">Poli</th>
                                <th ng-click="ordering($event,'@column[2]')" class="sorting">Dokter</th>
                                <th ng-click="ordering($event,'@column[3]')" class="sorting">Waktu</th>
                                <th ng-click="ordering($event,'@column[4]')" class="sorting">Tanggal</th>
                                <th ng-click="ordering($event,'@column[8]')" class="sorting">Hari</th>
                            </tr>
                            <tr class="filter_listTujuan">

                                <!-- Filter -->
                                <td>
                                    <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                                <td>
                                    <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                                <td>
                                    <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                                <td>
                                </td>
                                <td>
                                    <input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                            </tr>
                            <tr class="loading {{ loading ? '' : 'hide' }}">
                                <td colspan="50">
                                    <div class="bubblingG center">
                                        <span id="bubblingG_1"></span>
                                        <span id="bubblingG_2"></span>
                                        <span id="bubblingG_3"></span>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="{{ loading ? 'hide' : '' }}">

                            <!-- Target Lookup -->
                            <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                ng-click="select($event, [
                                                            data.@column[0],
                                                            data.@column[1],
                                                            data.@column[2],
                                                            data.@column[3],
                                                            data.@column[9],
                                                            data.@column[5],
                                                            data.@column[6],
                                                            data.@column[7],
                                                            data.@column[8],
                                                   ])">

                                <!-- Table Result -->
                                <td>{{data.@(column[1])}}</td>
                                <td>{{data.@(column[2])}}</td>
                                <td>{{data.@(column[3])}}</td>
                                <td>{{data.@(column[5])}}</td>
                                <td>{{data.@(column[8])}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="datatable-footer">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        ng-click="selected($event, true)">
                    Pilih
                </button>
            </div>
            <div ng-init="pagesize = 10;"></div>
        </div>
    </div>
</div>
<script>
 angular.element('#@tableId').ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[22] = date;
        sc.getdatas();
    });
</script>



