﻿<ul class="navigation navigation-main navigation-accordion">
    <!-- Main -->
    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-home4"></i> <span>Home</span></a></li>
    @if (Request.Cookies["TipePelayanan"] != null)
    {
        if (Request.Cookies["TipePelayanan"].Value == "ALL")
        {
            <li>
                <a><i class="icon-cart5"></i> <span>Transaksi RJ</span></a>
                <ul>
                    <li><a href="@Url.Action("Index", "Reservasi")">Reservasi</a></li>
                    <li><a href="@Url.Action("Index", "Registrasi")">Registrasi</a></li>
                </ul>
            </li>
            <li>
                <a><i class="icon-cart5"></i> <span>Transaksi RI</span></a>
                <ul>
                    <li><a href="@Url.Action("Index", "RegistrasiRI")">Registrasi RI</a></li>
                    <li><a href="@Url.Action("Index", "Mutasi")">Mutasi</a></li>
                </ul>
            </li>
        }
        else
        {
            <li>
                <a><i class="icon-cart5"></i> <span>Transaksi</span></a>
                <ul>
                    @if (Request.Cookies["TipePelayanan"] != null)
                    {
                        if (Request.Cookies["TipePelayanan"].Value == "RJ")
                        {
                            <li><a href="@Url.Action("Index", "Reservasi")">Reservasi</a></li>
                            <li><a href="@Url.Action("Index", "Registrasi")">Registrasi</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "RegistrasiRI")">Registrasi RI</a></li>
                            <li><a href="@Url.Action("Index", "Mutasi")">Mutasi</a></li>
                        }
                    }

                </ul>
            </li>
        }
    }

    <li>
        <a><i class="icon-eye"></i> <span>Informasi</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "PasienRI")">Pasien Rawat Inap</a></li>
            <li><a href="@Url.Action("Index", "StatusKamar")">Status Kamar</a></li>
            <li><a href="@Url.Action("Index", "JadwalPraktek")">Jadwal Praktek Dokter</a></li>
            <li><a href="@Url.Action("Index", "Tarif")">Tarif</a></li>
            <li><a href="@Url.Action("Index", "KunjunganPasien")">Riwayat Kunjungan Pasien</a></li>
            <li><a href="@Url.Action("Index", "PasienKhusus")">Pasien Khusus</a></li>
            <li><a href="@Url.Action("Index", "StatusPasien")">Status Pasien</a></li>
            <li><a href="@Url.Action("Index", "JadwalKontrol")">Jadwal Kontrol Pasien</a></li>
        </ul>
    </li>
    <li>
        <a><i class="icon-cube"></i> <span>Setup</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "Pasien")">Pasien</a></li>
            <li><a href="@Url.Action("Index", "Nationality")">Nationality</a></li>
            <li><a href="@Url.Action("Index", "Provinsi")">Provinsi</a></li>
            <li><a href="@Url.Action("Index", "Kabupaten")">Kabupaten</a></li>
            <li><a href="@Url.Action("Index", "Kecamatan")">Kecamatan</a></li>
            <li><a href="@Url.Action("Index", "Desa")">Desa</a></li>
            <li><a href="@Url.Action("Index", "Vendor")">Vendor Pengirim</a></li>
            <li><a href="@Url.Action("Index", "KategoriPasien")">Kategori Pasien</a></li>
        </ul>
    </li>
    <li>
        <a><i class="icon-balance"></i> <span>Stok</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "AmprahStok")">Amprahan Stok</a></li>
        </ul>
    </li>
    <li>
        <a><i class="icon-book"></i> <span>Report</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "ReportRegistrasi")">Report Registrasi</a></li>
            <li><a href="@Url.Action("Index", "ReportRegistrasi")?category=RSUB">Report RSUB</a></li>
        </ul>
    </li>
    @*<li><a href="@Url.Action("Index", "ReportRegistrasi")"><i class="icon-book"></i> <span>Report</span></a></li>*@
</ul>